<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
		<!--[if gte mso 9]>
		<xml>
			<o:OfficeDocumentSettings>
				<o:AllowPNG/>
				<o:PixelsPerInch>96</o:PixelsPerInch>
			</o:OfficeDocumentSettings>
		</xml>
		<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<meta name="viewport" content="width=device-width">
				<!--[if !mso]>
				<!-->
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
					<!--
					<![endif]-->
					<title></title>
					<!--[if !mso]>
					<!-- -->
					<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet" type="text/css">
						<!--
						<![endif]-->
						<style type="text/css" id="media-query">
      body {
  margin: 0;
  padding: 0; }

table, tr, td {
  vertical-align: top;
  border-collapse: collapse; }

.ie-browser table, .mso-container table {
  table-layout: fixed; }

* {
  line-height: inherit; }

a[x-apple-data-detectors=true] {
  color: inherit !important;
  text-decoration: none !important; }

[owa] .img-container div, [owa] .img-container button {
  display: block !important; }

[owa] .fullwidth button {
  width: 100% !important; }

[owa] .block-grid .col {
  display: table-cell;
  float: none !important;
  vertical-align: top; }

.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
  width: 740px !important; }

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%; }

.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
  width: 244px !important; }

.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
  width: 488px !important; }

.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
  width: 370px !important; }

.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
  width: 246px !important; }

.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
  width: 185px !important; }

.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
  width: 148px !important; }

.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
  width: 123px !important; }

.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
  width: 105px !important; }

.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
  width: 92px !important; }

.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
  width: 82px !important; }

.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
  width: 74px !important; }

.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
  width: 67px !important; }

.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
  width: 61px !important; }

@media only screen and (min-width: 760px) {
  .block-grid {
    width: 740px !important; }
  .block-grid .col {
    vertical-align: top; }
    .block-grid .col.num12 {
      width: 740px !important; }
  .block-grid.mixed-two-up .col.num4 {
    width: 244px !important; }
  .block-grid.mixed-two-up .col.num8 {
    width: 488px !important; }
  .block-grid.two-up .col {
    width: 370px !important; }
  .block-grid.three-up .col {
    width: 246px !important; }
  .block-grid.four-up .col {
    width: 185px !important; }
  .block-grid.five-up .col {
    width: 148px !important; }
  .block-grid.six-up .col {
    width: 123px !important; }
  .block-grid.seven-up .col {
    width: 105px !important; }
  .block-grid.eight-up .col {
    width: 92px !important; }
  .block-grid.nine-up .col {
    width: 82px !important; }
  .block-grid.ten-up .col {
    width: 74px !important; }
  .block-grid.eleven-up .col {
    width: 67px !important; }
  .block-grid.twelve-up .col {
    width: 61px !important; } }

@media (max-width: 760px) {
  .block-grid, .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important; }
  .block-grid {
    width: calc(100% - 40px) !important; }
  .col {
    width: 100% !important; }
    .col > div {
      margin: 0 auto; }
  img.fullwidth, img.fullwidthOnMobile {
    max-width: 100% !important; }
  .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important; }
  .no-stack.two-up .col {
    width: 50% !important; }
  .no-stack.mixed-two-up .col.num4 {
    width: 33% !important; }
  .no-stack.mixed-two-up .col.num8 {
    width: 66% !important; }
  .no-stack.three-up .col.num4 {
    width: 33% !important; }
  .no-stack.four-up .col.num3 {
    width: 25% !important; }
  .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px; } }

    </style>
					</head>
					<body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF">
						<style type="text/css" id="bargradanim">
    @-webkit-keyframes gradanim {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes gradanim {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes gradanim {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    </style>
						<style type="text/css" id="media-query-bodytag">
    @media (max-width: 520px) {
      .block-grid {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

      .col {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

        .col > div {
          margin: 0 auto;
        }

      img.fullwidth {
        max-width: 100%!important;
      }
			img.fullwidthOnMobile {
        max-width: 100%!important;
      }
      .no-stack .col {
				min-width: 0!important;
				display: table-cell!important;
			}
			.no-stack.two-up .col {
				width: 50%!important;
			}
			.no-stack.mixed-two-up .col.num4 {
				width: 33%!important;
			}
			.no-stack.mixed-two-up .col.num8 {
				width: 66%!important;
			}
			.no-stack.three-up .col.num4 {
				width: 33%!important;
			}
			.no-stack.four-up .col.num3 {
				width: 25%!important;
			}
      .mobile_hide {
        min-height: 0px!important;
        max-height: 0px!important;
        max-width: 0px!important;
        display: none!important;
        overflow: hidden!important;
        font-size: 0px!important;
      }
    }
  </style>
						<!--[if IE]>
						<div class="ie-browser">
							<![endif]-->
							<!--[if mso]>
							<div class="mso-container">
								<![endif]-->
								<table class="nl-container" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #FFFFFF;width: 100%" cellpadding="0" cellspacing="0">
									<tbody>
										<tr style="vertical-align: top">
											<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
												<!--[if (mso)|(IE)]>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td align="center" style="background-color: #FFFFFF;">
															<![endif]-->
															<div style="background-color:transparent;">
																<div style="Margin: 0 auto;min-width: 320px;max-width: 740px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;" class="block-grid mixed-two-up ">
																	<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;">
																		<!--[if (mso)|(IE)]>
																		<table width="100%" cellpadding="0" cellspacing="0" border="0">
																			<tr>
																				<td style="background-color:transparent;" align="center">
																					<table cellpadding="0" cellspacing="0" border="0" style="width: 740px;">
																						<tr class="layout-full-width" style="background-color:#FFFFFF;">
																							<![endif]-->
																							<!--[if (mso)|(IE)]>
																							<td align="center" width="493" style=" width:493px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																								<![endif]-->
																								<div class="col num8" style="display: table-cell;vertical-align: top;min-width: 320px;max-width: 488px;">
																									<div style="background-color: transparent; width: 100% !important;">
																										<!--[if (!mso)&(!IE)]>
																										<!-->
																										<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
																											<!--
																											<![endif]-->
																											<div align="left" class="img-container left fixedwidth " style="padding-right: 0px;  padding-left: 0px;">
																												<!--[if mso]>
																												<table width="100%" cellpadding="0" cellspacing="0" border="0">
																													<tr style="line-height:0px;line-height:0px;">
																														<td style="padding-right: 0px; padding-left: 0px;" align="left">
																															<![endif]-->
																															<img class="left fixedwidth" align="left" border="0" src="http://static.wixstatic.com/media/011899_bdaeba3fe8b64734a522f07cabde6396~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 394.4px" width="394.4">
																																<!--[if mso]>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<!--[if (!mso)&(!IE)]>
																												<!-->
																											</div>
																											<!--
																											<![endif]-->
																										</div>
																									</div>
																									<!--[if (mso)|(IE)]>
																								</td>
																								<td align="center" width="247" style=" width:247px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																									<![endif]-->
																									<div class="col num4" style="display: table-cell;vertical-align: top;max-width: 320px;min-width: 244px;">
																										<div style="background-color: transparent; width: 100% !important;">
																											<!--[if (!mso)&(!IE)]>
																											<!-->
																											<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
																												<!--
																												<![endif]-->
																												<div class="">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0">
																														<tr>
																															<td style="padding-right: 10px; padding-left: 10px; padding-top: 40px; padding-bottom: 45px;">
																																<![endif]-->
																																<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 40px; padding-bottom: 45px;">
																																	<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#555555;text-align:left;">
																																		<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: right">
																																			<span style="font-size: 12px; line-height: 14px;">{{VENAME}}</span>
																																		</p>
																																		<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: right">
																																			<span style="font-size: 12px; line-height: 14px;"> {{VEMAIL}}</span>
																																		</p>
																																		<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: right">
																																			<span style="font-size: 12px; line-height: 14px;">{{VENUM}}</span>
																																		</p>
																																	</div>
																																</div>
																																<!--[if mso]>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<!--[if (!mso)&(!IE)]>
																												<!-->
																											</div>
																											<!--
																											<![endif]-->
																										</div>
																									</div>
																									<!--[if (mso)|(IE)]>
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																			<![endif]-->
																		</div>
																	</div>
																</div>
																<div style="background-color:transparent;">
																	<div style="Margin: 0 auto;min-width: 320px;max-width: 740px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;" class="block-grid ">
																		<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;">
																			<!--[if (mso)|(IE)]>
																			<table width="100%" cellpadding="0" cellspacing="0" border="0">
																				<tr>
																					<td style="background-color:transparent;" align="center">
																						<table cellpadding="0" cellspacing="0" border="0" style="width: 740px;">
																							<tr class="layout-full-width" style="background-color:#FFFFFF;">
																								<![endif]-->
																								<!--[if (mso)|(IE)]>
																								<td align="center" width="740" style=" width:740px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																									<![endif]-->
																									<div class="col num12" style="min-width: 320px;max-width: 740px;display: table-cell;vertical-align: top;">
																										<div style="background-color: transparent; width: 100% !important;">
																											<!--[if (!mso)&(!IE)]>
																											<!-->
																											<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
																												<!--
																												<![endif]-->
																												<div class="">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0">
																														<tr>
																															<td style="padding-right: 30px; padding-left: 30px; padding-top: 15px; padding-bottom: 15px;">
																																<![endif]-->
																																<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 30px; padding-left: 30px; padding-top: 15px; padding-bottom: 15px;">
																																	<div style="font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:12px;line-height:14px;color:#555555;text-align:left;">
																																		<p style="margin: 0;font-size: 14px;line-height: 17px">
																																			<strong>Dear {{CNAME}},</strong>
																																		</p>
																																	</div>
																																</div>
																																<!--[if mso]>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<div class="">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0">
																														<tr>
																															<td style="padding-right: 30px; padding-left: 30px; padding-top: 10px; padding-bottom: 10px;">
																																<![endif]-->
																																<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 30px; padding-left: 30px; padding-top: 10px; padding-bottom: 10px;">
																																	<div style="font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:12px;line-height:14px;color:#555555;text-align:left;">
																																		<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">Thank you for using Nerolac VR Color Visualizer</p>
																																	</div>
																																</div>
																																<!--[if mso]>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<div class="">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0">
																														<tr>
																															<td style="padding-right: 30px; padding-left: 30px; padding-top: 15px; padding-bottom: 15px;">
																																<![endif]-->
																																<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 30px; padding-left: 30px; padding-top: 15px; padding-bottom: 15px;">
																																	<div style="font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:12px;line-height:14px;color:#555555;text-align:left;">
																																		<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
																																	</div>
																																</div>
																																<!--[if mso]>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<!--[if (!mso)&(!IE)]>
																												<!-->
																											</div>
																											<!--
																											<![endif]-->
																										</div>
																									</div>
																									<!--[if (mso)|(IE)]>
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																			<![endif]-->
																		</div>
																	</div>
																</div>
				<div style="background-color:transparent;">
					<div style="Margin: 0 auto;min-width: 320px;max-width: 740px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;" class="block-grid ">
						<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;">
							<div class="col num12" style="min-width: 320px;max-width: 740px;display: table-cell;vertical-align: top;">
								<div style="background-color: transparent; width: 100% !important;">
									<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
										<div align="center" class="bargradanim" style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;">
											<div
												    style="color: #ffffff;
												    background: linear-gradient(270deg, #205cd7, #20d5d7, #19a3cc, #19a3cc);
												    transition: all 17s;
												    box-shadow: 5px 10px 20px rgba(0, 0, 0, .3);
												    border-radius: 5px 10px 10px 11px;
												    -webkit-border-radius: 5px 10px 10px 11px;
												    -moz-border-radius: 5px 10px 10px 11px;
												    max-width: 690px;
												    height: 45px;
												    width: 650px;
												    width: auto;
												    border-top: 0px solid transparent;
												    border-right: 0px solid transparent;
												    border-bottom: 0px solid transparent;
												    border-left: 0px solid transparent;
												    padding-top: 0px;
												    padding-right: 20px;
												    padding-bottom: 0px;
												    padding-left: 20px;
												    font-family: 'Montserrat',Arial, 'Helvetica Neue', Helvetica, sans-serif;
												    text-align: center;
												    mso-border-alt: none;
												    -webkit-animation: gradanim 17s ease infinite;
												    -moz-animation: gradanim 17s ease infinite;
												    animation: gradanim 17s ease infinite;">
																																				<!--  <span style="padding-right:3px; padding-top: 3px; width: 2px; height: 2px;"><img src="images/star.png"></img></span>-->
																																				<span style="font-size:15px;line-height:45px;">
																																					<strong>Favourite Colors</strong>
																																				</span>
																																			</div>
																																			<!--[if mso]>
																																		</center>
																																	</v:textbox>
																																</v:roundrect>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->

<!-- <ColorTABLE>-->
<!--TOTAL COLORS START-->

<div style="background-color:transparent;">
																	<div style="Margin: 0 auto;min-width: 320px;max-width: 740px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;" class="block-grid mixed-two-up ">
																		<div style="border-collapse: collapse;display: table;width: 100%;">
																			<!--[if (mso)|(IE)]>
																			<table width="100%" cellpadding="0" cellspacing="0" border="0">
																				<tr>
																					<td style="background-color:transparent;" align="center">
																						<table cellpadding="0" cellspacing="0" border="0" style="width: 740px;">
																							<tr class="layout-full-width" style="background-color:#FFFFFF;">
																								<![endif]-->
																								<!--[if (mso)|(IE)]>
																								<td align="center" width="247" style=" width:247px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																									<![endif]-->
																									<div class="col num4" style="display: table-cell;vertical-align: top;max-width: 320px;min-width: 244px;">
																										<div style="background-color: transparent; width: 100% !important;">
																											<!--[if (!mso)&(!IE)]>
																											<!-->
																											<div style="border-top: 50 solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
																												<!--
																												<![endif]-->
																												<div align="center" class="button-container center " style="padding-right: 30px; padding-left: 30px; padding-top:30px; padding-bottom:30px;">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
																														<tr>
																															<td style="padding-right: 30px; padding-left: 30px; padding-top:30px; padding-bottom:30px;" align="center">
																																<v:roundrect
																																	xmlns:v="urn:schemas-microsoft-com:vml"
																																	xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:77pt; v-text-anchor:middle; width:93pt;" arcsize="29%" strokecolor="#3AAEE0" fillcolor="#3AAEE0">
																																	<w:anchorlock/>
																																	<v:textbox inset="0,0,0,0">
																																		<center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:46px;">
																																			<![endif]-->
					<div style="color: #ffffff; background: linear-gradient(120deg,#20d5d7,#20d5d7,#205cd7);box-shadow: 0px 15px 20px rgba(0, 0, 0, .25); border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;  width: 150px; height:150px; border-top: 0px solid transparent; border-right:0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center;vertical-align: middle; mso-border-alt: none;">
						
						<div style="margin-top: 30px">	
							<span style="font-size:16px;line-height:24px;">
								<strong>
									<span style="font-size: 46px; line-height: 50px; " data-mce-style="font-size: 46px; line-height: 90px;">
										<span style="line-height: 50px; font-size: 46px;" data-mce-style="line-height:90px; font-size: 46px;">{{SELECTED}}</span><br>
									</span>
								</strong>
							</span>
	                        <span style="font-size:16px;line-height:15px;">Colors</span><br>
							<span style="font-size:16px;line-height:15px;">Selected</span>
						</div>
																																			</div>
																																			<!--[if mso]>
																																		</center>
																																	</v:textbox>
																																</v:roundrect>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<!--[if (!mso)&(!IE)]>
																												<!-->
																											</div>
																											<!--
																											<![endif]-->
																										</div>
																									</div>

	<!--TOTAL COLORS END-->

	<!--FAVOURITE COLORS START-->
  <div align="center" style="padding-right: 10px; padding-left: 10px; padding-bottom: 10px;" class="">
    <div style="line-height:10px;font-size:1px">&#160;</div>
    <div style="display: table; max-width:100%;">

									{{#each FAVCOLOR}}
                    <!--COLOR & Text START-->
                  <table align="left" border="0" cellspacing="0" cellpadding="0" width="70" height="70" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
                    <tbody>
                      <tr style="vertical-align: top">
                        <td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

                          <!--COLOR-->

                          	<div style="color: #ffffff; background-color:{{this}};box-shadow: 0px 10px 20px rgba(0, 0, 0, .25); border-radius: 5px 10px 10px 10px; -webkit-border-radius: 5px 10px 10px 10px; -moz-border-radius: 5px 10px 10px 10px;  width: 30px; height:30px; border-top: 0px solid transparent; border-right:0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center;vertical-align: middle; mso-border-alt: none;">
                            </div>

                              <!--TEXT-->
                              <div style="margin-top: 8px">
                                <span style="margin: 0; color:#000;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 14px;line-height: 17px;text-align: center;  padding-top: 10px">
                                  {{!-- <strong>Color {{inc @index}}</strong> --}}
																	<strong>{{COLORNAMES.@index}}</strong>
                                </span>
                            </div>
                            <div style="line-height:5px;font-size:1px">&#160;</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                      <!--COLOR & Text END-->
										{{/each}}
            </div>
          </div>
<!--FAVOURITE COLORS END-->
																									<!--[if (mso)|(IE)]>
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																			<![endif]-->
																		</div>
																	</div>
																</div>


<!-- <ColorTABLE>-->

																												<div align="center" class="button-container center " style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
																														<tr>
																															<td style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;" align="center">
																																<v:roundrect
																																	xmlns:v="urn:schemas-microsoft-com:vml"
																																	xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:14pt; v-text-anchor:middle; width:517pt;" arcsize="58%" strokecolor="#3AAEE0" fillcolor="#3AAEE0">
																																	<w:anchorlock/>
																																	<v:textbox inset="0,0,0,0">
																																		<center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;">
																																			<![endif]-->
																																			<div style="color: #ffffff;
    background: linear-gradient(270deg, #205cd7, #20d5d7, #19a3cc, #19a3cc);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50%; max-width: 690px; width: 650px; height: 3px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-border-alt: none;"></div>
																																			<!--[if mso]>
																																		</center>
																																	</v:textbox>
																																</v:roundrect>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<div class="">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0">
																														<tr>
																															<td style="padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
																																<![endif]-->
																																<div style="color:#389fe9;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
																																	<div style="font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:12px;line-height:14px;color:#389fe9;text-align:left;">
																																		<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">
																																			<strong>Thank you for using Nerolac VR Color Visualizer</strong>
																																		</p>
																																	</div>
																																</div>
																																<!--[if mso]>
																															</td>
																														</tr>
																													</table>
																													<![endif]-->
																												</div>
																												<!--[if (!mso)&(!IE)]>
																												<!-->
																											</div>
																											<!--
																											<![endif]-->
																										</div>
																									</div>
																									<!--[if (mso)|(IE)]>
																								</td>
																							</tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																			<![endif]-->
																		</div>
																	</div>
																</div>
																<div style="background-color:transparent;">
																	<div style="Margin: 0 auto;min-width: 320px;max-width: 740px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;" class="block-grid mixed-two-up ">
																		<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;">
																			<!--[if (mso)|(IE)]>
																			<table width="100%" cellpadding="0" cellspacing="0" border="0">
																				<tr>
																					<td style="background-color:transparent;" align="center">
																						<table cellpadding="0" cellspacing="0" border="0" style="width: 740px;">
																							<tr class="layout-full-width" style="background-color:#FFFFFF;">
																								<![endif]-->
																								<!--[if (mso)|(IE)]>
																								<td align="center" width="247" style=" width:247px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:10px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																									<![endif]-->
																									<div class="col num4" style="display: table-cell;vertical-align: top;max-width: 320px;min-width: 244px;">
																										<div style="background-color: transparent; width: 100% !important;">
																											<!--[if (!mso)&(!IE)]>
																											<!-->
																											<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;">
																												<!--
																												<![endif]-->
																												<div class="">
																													<!--[if mso]>
																													<table width="100%" cellpadding="0" cellspacing="0" border="0">
																														<tr>
																															<td style="padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
																																<![endif]-->
																																<div style="color:#389fe9;line-height:150%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
																																	<div style="font-size:12px;line-height:18px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#389fe9;text-align:left;">
																																		<p style="margin: 0;font-size: 14px;line-height: 21px">
																																			<span style="font-size: 13px; line-height: 19px;">{{CNAME}}</span>
																																			<br>
																																				<span style="font-size: 13px; line-height: 19px;">{{CEMAIL}}</span>
																																				<br>
																																					<span style="font-size: 13px; line-height: 19px;">{{CNUM}}</span>
																																				</p>
																																			</div>
																																		</div>
																																		<!--[if mso]>
																																	</td>
																																</tr>
																															</table>
																															<![endif]-->
																														</div>
																														<!--[if (!mso)&(!IE)]>
																														<!-->
																													</div>
																													<!--
																													<![endif]-->
																												</div>
																											</div>
																											<!--[if (mso)|(IE)]>
																										</td>
																										<td align="center" width="493" style=" width:493px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																											<![endif]-->
																											<div class="col num8" style="display: table-cell;vertical-align: top;min-width: 320px;max-width: 488px;">
																												<div style="background-color: transparent; width: 100% !important;">
																													<!--[if (!mso)&(!IE)]>
																													<!-->
																													<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
																														<!--
																														<![endif]-->
																														<div class="">
																															<!--[if mso]>
																															<table width="100%" cellpadding="0" cellspacing="0" border="0">
																																<tr>
																																	<td style="padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
																																		<![endif]-->
																																		<div style="color:#389fe9;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
																																			<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#389fe9;text-align:left;">
																																				<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: right">
																																					<span style="font-size: 13px; line-height: 15px;">Visit us at: www.nerolac.com</span>
																																				</p>
																																			</div>
																																		</div>
																																		<!--[if mso]>
																																	</td>
																																</tr>
																															</table>
																															<![endif]-->
																														</div>
																														<div class="">
																															<!--[if mso]>
																															<table width="100%" cellpadding="0" cellspacing="0" border="0">
																																<tr>
																																	<td style="padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
																																		<![endif]-->
																																		<div style="color:#389fe9;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
																																			<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#389fe9;text-align:left;">
																																				<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: right">For queires contact your nearest dealer</p>
																																			</div>
																																		</div>
																																		<!--[if mso]>
																																	</td>
																																</tr>
																															</table>
																															<![endif]-->
																														</div>
																														<!--[if (!mso)&(!IE)]>
																														<!-->
																													</div>
																													<!--
																													<![endif]-->
																												</div>
																											</div>
																											<!--[if (mso)|(IE)]>
																										</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																					<![endif]-->
																				</div>
																			</div>

										<div align="center" class="button-container center " style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;">
											<!--[if mso]>
											<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
												<tr>
													<td style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;" align="center">
														<v:roundrect
															xmlns:v="urn:schemas-microsoft-com:vml"
															xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:14pt; v-text-anchor:middle; width:517pt;" arcsize="58%" strokecolor="#3AAEE0" fillcolor="#3AAEE0">
															<w:anchorlock/>
															<v:textbox inset="0,0,0,0">
																<center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;">
																	<![endif]-->
																	<div style="color: #ffffff;     background-color: #eaeaea; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50%; max-width: 690px; width: 650px; height: 3px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-border-alt: none;"></div>
																	<!--[if mso]>
																</center>
															</v:textbox>
														</v:roundrect>
													</td>
												</tr>
											</table>
											<![endif]-->
										</div>
									</div>
									<div style="background-color:transparent;">
										<div style="Margin: 0 auto;min-width: 320px;max-width: 740px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;" class="block-grid mixed-two-up ">
											<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;">
												<!--[if (mso)|(IE)]>
												<table width="100%" cellpadding="0" cellspacing="0" border="0">
													<tr>
														<td style="background-color:transparent;" align="center">
															<table cellpadding="0" cellspacing="0" border="0" style="width: 740px;">
																<tr class="layout-full-width" style="background-color:#FFFFFF;">
																	<![endif]-->
																	<!--[if (mso)|(IE)]>
																	<td align="center" width="493" style=" width:493px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																		<![endif]-->
																		<div class="col num8" style="display: table-cell;vertical-align: top;min-width: 320px;max-width: 488px;">
																			<div style="background-color: transparent; width: 100% !important;">
																				<!--[if (!mso)&(!IE)]>
																				<!-->
																				<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
																					<!--
																					<![endif]-->
																					<div class="">
																						<!--[if mso]>
																						<table width="100%" cellpadding="0" cellspacing="0" border="0">
																							<tr>
																								<td style="padding-right: 10px; padding-left: 20px; padding-top: 20px; padding-bottom: 5px;">
																									<![endif]-->
																									<div style="color:#389fe9;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 10px; padding-left: 20px; padding-top: 20px; padding-bottom: 5px;">
																										<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#389fe9;text-align:left;">
																											<p style="margin: 0;font-size: 14px;line-height: 17px">
																												<span style="font-size: 11px; line-height: 13px;"><a href="https://nerolac.com/home-paint/home-owner.html">Home</a>&#160; |&#160; <a href="https://nerolac.com/privacy-policy.html">Privacy Policy</a>&#160; |&#160; <a href="https://nerolac.com/terms-and-conditions.html">Terms &amp; Conditions</a>&#160; |&#160; <a href="https://nerolac.com/quality-policy.html">Quality Policy</a> </span>
																											</p>
																										</div>
																									</div>
																									<!--[if mso]>
																								</td>
																							</tr>
																						</table>
																						<![endif]-->
																					</div>
																					<div class="">
																						<!--[if mso]>
																						<table width="100%" cellpadding="0" cellspacing="0" border="0">
																							<tr>
																								<td style="padding-right: 10px; padding-left: 20px; padding-top: 5px; padding-bottom: 5px;">
																									<![endif]-->
																									<div style="color:#389fe9;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 10px; padding-left: 20px; padding-top: 5px; padding-bottom: 5px;">
																										<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#389fe9;text-align:left;">
																											<p style="margin: 0;font-size: 14px;line-height: 17px">
																												<span style="font-size: 11px; line-height: 13px;">@2018 Kansai Nerolac Paints Limited All Rights Reserved.</span>
																												<br>
																													<span style="font-size: 11px; line-height: 13px;">A Subsidiary of <a href="https://www.kansai.com/">Kansai Paints</a>, Japan</span>
																												</p>
																											</div>
																										</div>
																										<!--[if mso]>
																									</td>
																								</tr>
																							</table>
																							<![endif]-->
																						</div>
																						<!--[if (!mso)&(!IE)]>
																						<!-->
																					</div>
																					<!--
																					<![endif]-->
																				</div>
																			</div>
																			<!--[if (mso)|(IE)]>
																		</td>
																		<td align="center" width="247" style=" width:247px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top">
																			<![endif]-->
																			<div class="col num4" style="display: table-cell;vertical-align: top;max-width: 320px;min-width: 244px;">
																				<div style="background-color: transparent; width: 100% !important;">
																					<!--[if (!mso)&(!IE)]>
																					<!-->
																					<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
																						<!--
																						<![endif]-->
																						<div class="">
																							<!--[if mso]>
																							<table width="100%" cellpadding="0" cellspacing="0" border="0">
																								<tr>
																									<td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
																										<![endif]-->
																										<div style="color:#389fe9;line-height:120%;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
																											<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#389fe9;text-align:left;">
																												<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">
																													<strong>
																														<span style="text-decoration: underline; font-size: 13px; line-height: 15px;">Follow Us</span>
																													</strong>
																												</p>
																											</div>
																										</div>
																										<!--[if mso]>
																									</td>
																								</tr>
																							</table>
																							<![endif]-->
																						</div>
																						<div align="center" style="padding-right: 10px; padding-left: 10px; padding-bottom: 10px;" class="">
																							<div style="line-height:10px;font-size:1px">&#160;</div>
																							<div style="display: table; max-width:188px;">
																								<!--[if (mso)|(IE)]>
																								<table width="168" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center">
																											<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:168px;">
																												<tr>
																													<td width="32" style="width:32px; padding-right: 5px;" valign="top">
																														<![endif]-->
																														<table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
																															<tbody>
																																<tr style="vertical-align: top">
																																	<td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
																																		<a href="https://www.facebook.com/NerolacPaints.India/" title="Facebook" target="_blank">
																																			<img src="http://static.wixstatic.com/media/011899_1135106f155245259b7e8665d2ecf78c~mv2.png" alt="Facebook" title="Facebook" width="50" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
																																			</a>
																																			<div style="line-height:5px;font-size:1px">&#160;</div>
																																		</td>
																																	</tr>
																																</tbody>
																															</table>
																															<!--[if (mso)|(IE)]>
																														</td>
																														<td width="32" style="width:32px; padding-right: 5px;" valign="top">
																															<![endif]-->
																															<table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
																																<tbody>
																																	<tr style="vertical-align: top">
																																		<td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
																																			<a href="https://twitter.com/Nerolac_Paints" title="Twitter" target="_blank">
																																				<img src="http://static.wixstatic.com/media/011899_ea2c1c444cb34699a2ff4f7c360427d7~mv2.png" alt="Twitter" title="Twitter" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
																																				</a>
																																				<div style="line-height:5px;font-size:1px">&#160;</div>
																																			</td>
																																		</tr>
																																	</tbody>
																																</table>
																																<!--[if (mso)|(IE)]>
																															</td>
																															<td width="32" style="width:32px; padding-right: 5px;" valign="top">
																																<![endif]-->
																																<table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
																																	<tbody>
																																		<tr style="vertical-align: top">
																																			<td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
																																				<a href="https://www.instagram.com/nerolacpaints/" title="Instagram" target="_blank">
																																					<img src="http://static.wixstatic.com/media/011899_694e62385e7b4aed8d4e1bcb469eb9d1~mv2.png" alt="Instagram" title="Instagram" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
																																					</a>
																																					<div style="line-height:5px;font-size:1px">&#160;</div>
																																				</td>
																																			</tr>
																																		</tbody>
																																	</table>
																																	<!--[if (mso)|(IE)]>
																																</td>
																																<td width="32" style="width:32px; padding-right: 0;" valign="top">
																																	<![endif]-->
																																	<table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0">
																																		<tbody>
																																			<tr style="vertical-align: top">
																																				<td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
																																					<a href="https://www.youtube.com/user/NerolacPaints" title="YouTube" target="_blank">
																																						<img src="http://static.wixstatic.com/media/011899_ffad06381ab54363a37deedfa8ac41b9~mv2.png" alt="YouTube" title="YouTube" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
																																						</a>
																																						<div style="line-height:5px;font-size:1px">&#160;</div>
																																					</td>
																																				</tr>
																																			</tbody>
																																		</table>
																																		<!--[if (mso)|(IE)]>
																																	</td>
																																</tr>
																															</table>
																														</td>
																													</tr>
																												</table>
																												<![endif]-->
																											</div>
																										</div>
																										<!--[if (!mso)&(!IE)]>
																										<!-->
																									</div>
																									<!--
																									<![endif]-->
																								</div>
																							</div>
																							<!--[if (mso)|(IE)]>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																	<![endif]-->
																</div>
															</div>
														</div>
														<!--[if (mso)|(IE)]>
													</td>
												</tr>
											</table>
											<![endif]-->
										</td>
									</tr>
								</tbody>
							</table>
							<!--[if (mso)|(IE)]>
						</div>
						<![endif]-->
						<div align="center" class="button-container center " style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;">
							<!--[if mso]>
							<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
								<tr>
									<td style="padding-right: 25px; padding-left: 25px; padding-top:15px; padding-bottom:15px;" align="center">
										<v:roundrect
											xmlns:v="urn:schemas-microsoft-com:vml"
											xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:14pt; v-text-anchor:middle; width:517pt;" arcsize="58%" strokecolor="#3AAEE0" fillcolor="#3AAEE0">
											<w:anchorlock/>
											<v:textbox inset="0,0,0,0">
												<center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;">
													<![endif]-->
													<div style="color: #ffffff;     background-color: #eaeaea; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50%; max-width: 690px; width: 650px; height: 3px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-border-alt: none;"></div>
													<!--[if mso]>
												</center>
											</v:textbox>
										</v:roundrect>
									</td>
								</tr>
							</table>
							<![endif]-->
						</div>
					</body>
				</html>
