<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head>
  <!--[if gte mso 9]><xml>
   <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
   </o:OfficeDocumentSettings>
  </xml><![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
  <title></title>
  <!--[if !mso]><!-- -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<!--<![endif]-->

  <style type="text/css" id="media-query">
    body {
margin: 0;
padding: 0; }

table, tr, td {
vertical-align: top;
border-collapse: collapse; }

.ie-browser table, .mso-container table {
table-layout: fixed; }

* {
line-height: inherit; }

a[x-apple-data-detectors=true] {
color: inherit !important;
text-decoration: none !important; }

[owa] .img-container div, [owa] .img-container button {
display: block !important; }

[owa] .fullwidth button {
width: 100% !important; }

[owa] .block-grid .col {
display: table-cell;
float: none !important;
vertical-align: top; }

.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
width: 675px !important; }

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
line-height: 100%; }

.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
width: 224px !important; }

.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
width: 448px !important; }

.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
width: 337px !important; }

.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
width: 225px !important; }

.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
width: 168px !important; }

.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
width: 135px !important; }

.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
width: 112px !important; }

.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
width: 96px !important; }

.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
width: 84px !important; }

.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
width: 75px !important; }

.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
width: 67px !important; }

.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
width: 61px !important; }

.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
width: 56px !important; }

@media only screen and (min-width: 695px) {
.block-grid {
  width: 675px !important; }
.block-grid .col {
  vertical-align: top; }
  .block-grid .col.num12 {
    width: 675px !important; }
.block-grid.mixed-two-up .col.num4 {
  width: 224px !important; }
.block-grid.mixed-two-up .col.num8 {
  width: 448px !important; }
.block-grid.two-up .col {
  width: 337px !important; }
.block-grid.three-up .col {
  width: 225px !important; }
.block-grid.four-up .col {
  width: 168px !important; }
.block-grid.five-up .col {
  width: 135px !important; }
.block-grid.six-up .col {
  width: 112px !important; }
.block-grid.seven-up .col {
  width: 96px !important; }
.block-grid.eight-up .col {
  width: 84px !important; }
.block-grid.nine-up .col {
  width: 75px !important; }
.block-grid.ten-up .col {
  width: 67px !important; }
.block-grid.eleven-up .col {
  width: 61px !important; }
.block-grid.twelve-up .col {
  width: 56px !important; } }

@media (max-width: 695px) {
.block-grid, .col {
  min-width: 320px !important;
  max-width: 100% !important;
  display: block !important; }
.block-grid {
  width: calc(100% - 40px) !important; }
.col {
  width: 100% !important; }
  .col > div {
    margin: 0 auto; }
img.fullwidth, img.fullwidthOnMobile {
  max-width: 100% !important; }
.no-stack .col {
  min-width: 0 !important;
  display: table-cell !important; }
.no-stack.two-up .col {
  width: 50% !important; }
.no-stack.mixed-two-up .col.num4 {
  width: 33% !important; }
.no-stack.mixed-two-up .col.num8 {
  width: 66% !important; }
.no-stack.three-up .col.num4 {
  width: 33% !important; }
.no-stack.four-up .col.num3 {
  width: 25% !important; }
.mobile_hide {
  min-height: 0px;
  max-height: 0px;
  max-width: 0px;
  display: none;
  overflow: hidden;
  font-size: 0px; } }

  .center {
}

  </style>
</head>

<body style="background-image: url('http://static.wixstatic.com/media/011899_4061f583a2cd4897b46224693b1a4f60~mv2.png'),url('http://static.wixstatic.com/media/011899_2ec174ed783145979c2641fe89ec467d~mv2.png');
  background-repeat: repeat-x,repeat-x;
  background-size: 1920px 290px,1920px 315px;
  background-position: center top,center bottom;
  background-attachment: top,bottom;">
<!--<body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF; ">
<img src="http://static.wixstatic.com/media/011899_9506034538d84c119c883394c6e13e6a~mv2.png" alt="Smiley face" width="1920" height="300">-->

<style type="text/css" id="media-query-bodytag">


  @media (max-width: 520px) {
    .block-grid {
      min-width: 320px!important;
      max-width: 100%!important;
      width: 100%!important;
      display: block!important;
    }

    .col {
      min-width: 320px!important;
      max-width: 100%!important;
      width: 100%!important;
      display: block!important;
    }

      .col > div {
        margin: 0 auto;
      }

    img.fullwidth {
      max-width: 100%!important;
    }
    img.fullwidthOnMobile {
      max-width: 100%!important;
    }
    .no-stack .col {
      min-width: 0!important;
      display: table-cell!important;
    }
    .no-stack.two-up .col {
      width: 50%!important;
    }
    .no-stack.mixed-two-up .col.num4 {
      width: 33%!important;
    }
    .no-stack.mixed-two-up .col.num8 {
      width: 66%!important;
    }
    .no-stack.three-up .col.num4 {
      width: 33%!important;
    }
    .no-stack.four-up .col.num3 {
      width: 25%!important;
    }
    .mobile_hide {
      min-height: 0px!important;
      max-height: 0px!important;
      max-width: 0px!important;
      display: none!important;
      overflow: hidden!important;
      font-size: 0px!important;
    }
  }

  @media(max-width : 400px)
{
  .variabletext
  {
    font-size: 11px;
  }
}
@media(max-width : 1400px) and (min-width: 401px)
{
  .variabletext
  {
    font-size: 18px;
  }
}
</style>
<!--[if IE]><div class="ie-browser"><![endif]-->
<!--[if mso]><div class="mso-container"><![endif]-->

<table class="nl-container" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;width: 100%" cellpadding="0" cellspacing="0">
<tbody>
<tr style="vertical-align: top">
  <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
  <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #FFFFFF;"><![endif]-->


<!--BG IMAGE-->


<!--    <div style="background-image:url('http://static.wixstatic.com/media/011899_9506034538d84c119c883394c6e13e6a~mv2.png');background-position: center top; background-attachment: top;"> -->

    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-image:url('images/TopBar22.png');background-position:top left;background-repeat:no-repeat;;background-color:transparent" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

<!--Colormyspace IMAGE-->
            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:35px; padding-bottom:35px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div align="center" class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:35px; padding-bottom:35px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

            <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_0e7c166f7f614b5fba1ceb7edb543b0d~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 400px" width="675">





            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
<!--   </div>    -->

  <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--Logo IMAGE-->

                  <div align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px;  padding-left: 0px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
<img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_c78ad0062ef34689870b8dc03b9115b1~mv2.png" alt="Image" title="Image" style="outline: none;filter: drop-shadow(0px 4px 20px rgba(0,0,0,.5));text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 675px" width="675">
<!--[if mso]></td></tr></table><![endif]-->
</div>



                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
  <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><strong><span style="text-decoration: underline; font-size: 14px; line-height: 16px;">You spoke with</span></strong></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
  <div style="font-size:12px;line-height:18px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 21px;text-align: center"><span style="font-size: 13px; line-height: 19px;">{{VENAME}}</span><br><span style="font-size: 13px; line-height: 19px;">{{VEMAIL}}</span><br><span style="font-size: 13px; line-height: 19px;">{{VENUM}}</span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>

<center><div style="background: linear-gradient(270deg, #205cd7, #20d5d7, #19a3cc, #19a3cc);box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50%; max-width: 500px; width: 450px; height: 3px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-border-alt: none;">
</div>
</center>

<div id="close_rating">
    <br>
    <h3 style="text-align:center">Please rate the Color My Space experience</h3>
    <div align="center" id="rating_clicked">
        <a href="https://nerolackansai.co.in/emailfinal/emailpage(1).html?rating=1&email={{CEMAIL}}" target="_blank"><img title="1" src="https://image.ibb.co/fMBaSp/star.png" alt="1"></a>
        <a href="https://nerolackansai.co.in/emailfinal/emailpage(2).html?rating=2&email={{CEMAIL}}" target="_blank"><img title="2" src="https://image.ibb.co/fMBaSp/star.png" alt="2"></a>
        <a href="https://nerolackansai.co.in/emailfinal/emailpage(3).html?rating=3&email={{CEMAIL}}" target="_blank"><img title="3" src="https://image.ibb.co/fMBaSp/star.png" alt="3"></a>
        <a href="https://nerolackansai.co.in/emailfinal/emailpage(4).html?rating=4&email={{CEMAIL}}" target="_blank"><img title="4" src="https://image.ibb.co/fMBaSp/star.png" alt="4"></a>
        <a href="https://nerolackansai.co.in/emailfinal/emailpage(5).html?rating=5&email={{CEMAIL}}" target="_blank"><img title="5" src="https://image.ibb.co/fMBaSp/star.png" alt="5"></a>
    </div>
    <br>
    <center><div style="background: linear-gradient(270deg, #205cd7, #20d5d7, #19a3cc, #19a3cc);box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50%; max-width: 500px; width: 450px; height: 3px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-border-alt: none;">
    </div></center>
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
  <div style="font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;"><strong>Dear {{CNAME}}</strong></span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
  <div style="font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;"><strong>Thank you for using Nerolac Color My Space</strong></span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 20px; padding-left: 20px; padding-top: 5px; padding-bottom: 5px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 20px; padding-left: 20px; padding-top: 5px; padding-bottom: 5px;">
  <div style="font-size:12px;line-height:14px;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 11px; line-height: 13px;">Color My Space is a revolutionary virtual reality experience developed by Kansai Nerolac with a view to indulge its existing and prospective customers and redefine the color selection process using cutting edge technology. We thank you for your participation and assure you that your feedback will go a long way in improving our service to you.</span> </p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px;  padding-left: 0px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->

<!--  <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_466fc48bcebb4af7b6ad5a9cd98cf426~mv2.png" alt="Image" title="Image" style="outline: none;filter: drop-shadow(0px 4px 20px rgba(0,0,0,.5));text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 675px" width="675">
-->

<div style="color: #ffffff;
background: linear-gradient(270deg, #205cd7, #20d5d7, #19a3cc, #19a3cc);
transition: all 17s;
box-shadow: 5px 10px 20px rgba(0, 0, 0, .3);
border-radius: 5px 10px 10px 11px;
-webkit-border-radius: 5px 10px 10px 11px;
-moz-border-radius: 5px 10px 10px 11px;
max-width: 690px;
height: 45px;
width: 650px;
width: auto;
border-top: 0px solid transparent;
border-right: 0px solid transparent;
border-bottom: 0px solid transparent;
border-left: 0px solid transparent;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
font-family: 'Montserrat',Arial, 'Helvetica Neue', Helvetica, sans-serif;
text-align: center;
mso-border-alt: none;
-webkit-animation: gradanim 17s ease infinite;
-moz-animation: gradanim 17s ease infinite;
animation: gradanim 17s ease infinite;">
                                            <!--  <span style="padding-right:3px; padding-top: 3px; width: 2px; height: 2px;"><img src="images/star.png"></img></span>-->
                                            <span style="font-size:15px;line-height:45px;">
                                              <strong> Total Colors selected : {{SELECTED}}</strong>
                                            </span>
                                          </div>


<!--[if mso]></td></tr></table><![endif]-->
</div>





<div align="center" class="button-container center " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:135pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->
  <div style="color: #ffffff; background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);;box-shadow: 5px 10px 20px rgba(0, 0, 0, .3); border-radius: 8px 15px 15px 15px; -webkit-border-radius: 8px 15px 15px 15px; -moz-border-radius: 8px 15px 15px 15px; max-width: 181px; width: 141px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">Shortlisted Colours</span>
  </div>
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>
<!-------------------------------------------------------------------------------Scenes from below--------------------------------------------------------------------------------------->

{{#if HASONESILVER}}

<!--SCENE START-->
  <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid two-up ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE NAME  -->

<div align="center" class="button-container center" style="padding-right: 10px; padding-left: 10px; padding-top:20px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="right"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:90pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->
  <div style="color: #ffffff; background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);box-shadow: 5px 10px 20px rgba(0, 0, 0, .3); border-radius: 8px 15px 15px 15px; -webkit-border-radius: 8px 15px 15px 15px; -moz-border-radius: 8px 15px 15px 15px; -moz-border-radius: 4px; max-width: 121px; width: 81px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">1BHK 01</span>
  </div>
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
            <!--[if (mso)|(IE)]></td><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE IMAGE  -->

<div align="center" class="button-container left " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:0px; padding-bottom:0px;" align="left"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:70pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->

  <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_2af9c2bb6f654852ab3c310bf9c9f7d2~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;max-width: 130px" width="130">


<!--  <div style="color: #ffffff; background-color: #3AAEE0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 94px; width: 54px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">Image to be placed</span>
  </div> -->
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



<div align="center" style="padding-right:0px; padding-left: 0px; padding-bottom: 10px;" class="">
<div align="center" style="line-height:10px;font-size:1px">&#160;</div>
<div align="center" style="display: table; max-width:100%;">
<!--[if (mso)|(IE)]><table width="161" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:161px;"><tr><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->

{{#each ONESILVERARR}}
<!--COLOR & Text START-->
<table align="left" border="0" cellspacing="0" cellpadding="0" width="120" height="70" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
<tbody>
  <tr style="vertical-align: top">
    <td align="center" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

      <!--COLOR-->

        <div style="color: #ffffff; background-color:{{this.color}};box-shadow: 0px 10px 20px rgba(0, 0, 0, .25); border-radius: 5px 10px 10px 10px; -webkit-border-radius: 5px 10px 10px 10px; -moz-border-radius: 5px 10px 10px 10px;  width: 30px; height:30px; border-top: 0px solid transparent; border-right:0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center;vertical-align: middle; mso-border-alt: none;">
        </div>

          <!--TEXT-->
            <p style="margin: 0; color:#000;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 14px;line-height: 17px;text-align: center;  padding-top: 10px">
              <strong>{{this.name}}</strong>
            </p>



        <div style="line-height:5px;font-size:1px">&#160;</div>
      </td>
    </tr>
  </tbody>
</table>
{{/each}}
  <!--COLOR & Text END-->
  <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->

    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 0;" valign="top"><![endif]-->
  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>






            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:10px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->


<!--SCENE START-->





{{/if}}



<!-------------------------------------------------------------------------------Scenes on top--------------------------------------------------------------------------------------->



<!-------------------------------------------------------------------------------Scenes from below--------------------------------------------------------------------------------------->


{{#if HASONEGOLD}}
<!--SCENE START-->
  <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid two-up ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE NAME  -->

<div align="center" class="button-container center" style="padding-right: 10px; padding-left: 10px; padding-top:20px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="right"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:90pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->
  <div style="color: #ffffff; background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);box-shadow: 5px 10px 20px rgba(0, 0, 0, .3); border-radius: 8px 15px 15px 15px; -webkit-border-radius: 8px 15px 15px 15px; -moz-border-radius: 8px 15px 15px 15px; -moz-border-radius: 4px; max-width: 121px; width: 81px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">1BHK 02</span>
  </div>
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
            <!--[if (mso)|(IE)]></td><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE IMAGE  -->

<div align="center" class="button-container left " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:0px; padding-bottom:0px;" align="left"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:70pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->

  <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_980169960a844b16824b834146dd3c70~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;max-width: 130px" width="130">


<!--  <div style="color: #ffffff; background-color: #3AAEE0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 94px; width: 54px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">Image to be placed</span>
  </div> -->
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



<div align="center" style="padding-right:0px; padding-left: 0px; padding-bottom: 10px;" class="">
<div align="center" style="line-height:10px;font-size:1px">&#160;</div>
<div align="center" style="display: table; max-width:100%;">
<!--[if (mso)|(IE)]><table width="161" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:161px;"><tr><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->

{{#each ONEGOLDARR}}
<!--COLOR & Text START-->
<table align="left" border="0" cellspacing="0" cellpadding="0" width="120" height="70" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
<tbody>
  <tr style="vertical-align: top">
    <td align="center" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

      <!--COLOR-->

        <div style="color: #ffffff; background-color:{{this.color}};box-shadow: 0px 10px 20px rgba(0, 0, 0, .25); border-radius: 5px 10px 10px 10px; -webkit-border-radius: 5px 10px 10px 10px; -moz-border-radius: 5px 10px 10px 10px;  width: 30px; height:30px; border-top: 0px solid transparent; border-right:0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center;vertical-align: middle; mso-border-alt: none;">
        </div>

          <!--TEXT-->
            <p style="margin: 0; color:#000;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 14px;line-height: 17px;text-align: center;  padding-top: 10px">
              <strong>{{this.name}}</strong>
            </p>

        <div style="line-height:5px;font-size:1px">&#160;</div>
      </td>
    </tr>
  </tbody>
</table>
  <!--COLOR & Text END-->
{{/each}}
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 0;" valign="top"><![endif]-->
  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>






            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:10px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
{{/if}}

{{#if HASTWOGOLD}}
<!--SCENE3 START-->
  <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid two-up ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE NAME  -->

<div align="center" class="button-container center" style="padding-right: 10px; padding-left: 10px; padding-top:20px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="right"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:90pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->
  <div style="color: #ffffff; background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);box-shadow: 5px 10px 20px rgba(0, 0, 0, .3); border-radius: 8px 15px 15px 15px; -webkit-border-radius: 8px 15px 15px 15px; -moz-border-radius: 8px 15px 15px 15px; -moz-border-radius: 4px; max-width: 121px; width: 81px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">2BHK</span>
  </div>
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
            <!--[if (mso)|(IE)]></td><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE IMAGE  -->

<div align="center" class="button-container left " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:0px; padding-bottom:0px;" align="left"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:70pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->

  <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_af4d6c1890bb48e09890ff985854468e~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;max-width: 130px" width="130">


<!--  <div style="color: #ffffff; background-color: #3AAEE0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 94px; width: 54px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">Image to be placed</span>
  </div> -->
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



<div align="center" style="padding-right:0px; padding-left: 0px; padding-bottom: 10px;" class="">
<div align="center" style="line-height:10px;font-size:1px">&#160;</div>
<div align="center" style="display: table; max-width:100%;">
<!--[if (mso)|(IE)]><table width="161" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:161px;"><tr><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->

{{#each TWOGOLDARR}}
<!--COLOR & Text START-->
<table align="left" border="0" cellspacing="0" cellpadding="0" width="120" height="70" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
<tbody>
  <tr style="vertical-align: top">
    <td align="center" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

      <!--COLOR-->

        <div style="color: #ffffff; background-color:{{this.color}};box-shadow: 0px 10px 20px rgba(0, 0, 0, .25); border-radius: 5px 10px 10px 10px; -webkit-border-radius: 5px 10px 10px 10px; -moz-border-radius: 5px 10px 10px 10px;  width: 30px; height:30px; border-top: 0px solid transparent; border-right:0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center;vertical-align: middle; mso-border-alt: none;">
        </div>

          <!--TEXT-->
            <p style="margin: 0; color:#000;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 14px;line-height: 17px;text-align: center;  padding-top: 10px">
              <strong>{{this.name}}</strong>
            </p>


        <div style="line-height:5px;font-size:1px">&#160;</div>
      </td>
    </tr>
  </tbody>
</table>
{{/each}}
  <!--COLOR & Text END-->
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 0;" valign="top"><![endif]-->
  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:10px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
{{/if}}


{{#if HASEXTERIOR}}
<!--SCENE4 START-->
  <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid two-up ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE NAME  -->

<div align="center" class="button-container center" style="padding-right: 10px; padding-left: 10px; padding-top:20px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="right"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:90pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->
  <div style="color: #ffffff; background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);box-shadow: 5px 10px 20px rgba(0, 0, 0, .3); border-radius: 8px 15px 15px 15px; -webkit-border-radius: 8px 15px 15px 15px; -moz-border-radius: 8px 15px 15px 15px; -moz-border-radius: 4px; max-width: 121px; width: 81px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">Exterior</span>
  </div>
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
            <!--[if (mso)|(IE)]></td><td align="center" width="338" style=" width:338px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num6" style="min-width: 320px;max-width: 337px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

<!--  SCENE IMAGE  -->

<div align="center" class="button-container left " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:0px; padding-bottom:0px;" align="left"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="" style="height:31pt; v-text-anchor:middle; width:70pt;" arcsize="10%" strokecolor="#3AAEE0" fillcolor="#3AAEE0"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size:16px;"><![endif]-->

<img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_7f61e9ec79754aacac0f12ab55f9ec49~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;max-width: 130px" width="130">


<!--  <div style="color: #ffffff; background-color: #3AAEE0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 94px; width: 54px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center; mso-border-alt: none;">
    <span style="font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:16px;line-height:32px;">Image to be placed</span>
  </div> -->
<!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
</div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



<div align="center" style="padding-right:0px; padding-left: 0px; padding-bottom: 10px;" class="">
<div align="center" style="line-height:10px;font-size:1px">&#160;</div>
<div align="center" style="display: table; max-width:100%;">
<!--[if (mso)|(IE)]><table width="161" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 10px; padding-left: 10px; padding-bottom: 10px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:161px;"><tr><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->

{{#each EXTERIORARR}}
<!--COLOR & Text START-->
<table align="left" border="0" cellspacing="0" cellpadding="0" width="120" height="70" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 5px">
<tbody>
  <tr style="vertical-align: top">
    <td align="center" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

      <!--COLOR-->

        <div style="color: #ffffff; background-color:{{this.color}};box-shadow: 0px 10px 20px rgba(0, 0, 0, .25); border-radius: 5px 10px 10px 10px; -webkit-border-radius: 5px 10px 10px 10px; -moz-border-radius: 5px 10px 10px 10px;  width: 30px; height:30px; border-top: 0px solid transparent; border-right:0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; text-align: center;vertical-align: middle; mso-border-alt: none;">
        </div>

          <!--TEXT-->
            <p style="margin: 0; color:#000;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size: 14px;line-height: 17px;text-align: center;  padding-top: 10px">
              <strong>{{this.name}}</strong>
            </p>



        <div style="line-height:5px;font-size:1px">&#160;</div>
      </td>
    </tr>
  </tbody>
</table>
{{/each}}
  <!--COLOR & Text END-->
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 0;" valign="top"><![endif]-->
  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>






            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>    <div style="background-color:transparent;">
    <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
      <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 675px;"><tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

            <!--[if (mso)|(IE)]><td align="center" width="675" style=" width:675px; padding-right: 0px; padding-left: 0px; padding-top:10px; padding-bottom:10px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
          <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
            <div style="background-color: transparent; width: 100% !important;">
            <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:10px; padding-bottom:10px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

{{/if}}





<!-------------------------------------------------------------------------------Scenes on top--------------------------------------------------------------------------------------->

              <!--BORDER LINE START-->
              <center><div style="background: linear-gradient(270deg, #205cd7, #20d5d7, #19a3cc, #19a3cc);box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50%; max-width: 500px; width: 450px; height: 3px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center; mso-border-alt: none;">
              </div></center>
              <!--BORDER LINE END-->



                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 20px; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
  <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;"><strong>Thank you for using Nerolac Color My Space</strong></span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
  <div style="font-size:12px;line-height:18px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 21px;text-align: center"><span style="font-size: 13px; line-height: 19px;">{{CNAME}}</span><br><span style="font-size: 13px; line-height: 19px;">{{CEMAIL}}</span><br><span style="font-size: 13px; line-height: 19px;">{{CNUM}}</span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px;  padding-left: 0px;">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
<img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_ec4ae20a4e8e40f0a44a8ddac595eb37~mv2.png" alt="Image" title="Image" style="outline: none;filter: drop-shadow(0px 4px 20px rgba(0,0,0,.5));text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 675px" width="675">
<!--[if mso]></td></tr></table><![endif]-->
</div>



                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
  <div style="font-size:12px;line-height:18px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 21px;text-align: center"><span style="font-size: 13px; line-height: 19px;"><strong><a href="https://nerolac.com/home-paint/home-owner.html">Home</a>&#160; |&#160; <a href="https://nerolac.com/privacy-policy.html">Privacy Policy</a>&#160; |&#160; <a href="https://nerolac.com/terms-and-conditions.html">Terms &amp; Conditions</a>&#160; |&#160; <a href="https://nerolac.com/quality-policy.html">Quality Policy</a> </strong></span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
  <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;">@2018 Kansai Nerolac Paints Limited All Rights Reserved.</span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
  <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;">A Subsidiary of <a href="https://www.kansai.com/">Kansai Paints</a>, Japan</span></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>


                  <div class="">
<!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 15px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;"><![endif]-->
<div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 15px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
  <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><strong><span style="text-decoration: underline; line-height: 15px; font-size: 13px;">FOLLOW US ON</span></strong></p></div>
</div>
<!--[if mso]></td></tr></table><![endif]-->
</div>



<div align="center" style="padding-right: 5px; padding-left: 5px; padding-bottom: 5px;" class="">
<div style="line-height:5px;font-size:1px">&#160;</div>
<div style="display: table; max-width:223px;">
<!--[if (mso)|(IE)]><table width="213" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse; padding-right: 5px; padding-left: 5px; padding-bottom: 5px;"  align="center"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:213px;"><tr><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->
  <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 20px">
    <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
      <a href="https://www.facebook.com/NerolacPaints.India/" title="Facebook" target="_blank">
        <img src="http://static.wixstatic.com/media/011899_6ec522884f3a466a8c860f947861a32c~mv2.png" alt="Facebook" title="Facebook" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
      </a>
    <div style="line-height:5px;font-size:1px">&#160;</div>
    </td></tr>
  </tbody></table>
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->
  <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 20px">
    <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
      <a href="https://twitter.com/Nerolac_Paints" title="Twitter" target="_blank">
        <img src="http://static.wixstatic.com/media/011899_06b83db4bee0402b8add55050381afb2~mv2.png" alt="Twitter" title="Twitter" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
      </a>
    <div style="line-height:5px;font-size:1px">&#160;</div>
    </td></tr>
  </tbody></table>
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 20px;" valign="top"><![endif]-->
  <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 20px">
    <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
      <a href="https://www.instagram.com/nerolacpaints/" title="Instagram" target="_blank">
        <img src="http://static.wixstatic.com/media/011899_3b089da43af14637a6603d80c3dee5c8~mv2.png" alt="Instagram" title="Instagram" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
      </a>
    <div style="line-height:5px;font-size:1px">&#160;</div>
    </td></tr>
  </tbody></table>
    <!--[if (mso)|(IE)]></td><td width="32" style="width:32px; padding-right: 0;" valign="top"><![endif]-->
  <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0">
    <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
      <a href="https://www.youtube.com/user/NerolacPaints" title="YouTube" target="_blank">
        <img src="http://static.wixstatic.com/media/011899_94d303771b3c42a8aab31dcec50fa258~mv2.png" alt="YouTube" title="YouTube" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
      </a>
    <div style="line-height:5px;font-size:1px">&#160;</div>
    </td></tr>
  </tbody></table>
  <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
</div>
</div>

            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
            </div>
          </div>
        <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
      </div>
    </div>
  </div>   <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
  </td>
</tr>
</tbody>
</table>
<!--[if (mso)|(IE)]></div><![endif]-->


</body></html>
