<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Nerolac VR dashboard</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/enso.css" rel="stylesheet">
<link href="css/style4.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/the-big-picture.css" rel="stylesheet">
<!--	<link href="css/compiled.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<link href="css/simplePagination.css" rel="stylesheet">
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src='js/knockout-3.4.2.js'></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script>
    $(document).ready(function () {
$('.button').on('click', function(){
    $(this).siblings().removeClass('active'); // if you want to remove class from all sibling buttons
    $(this).toggleClass('active');
});
$('.button5').on('click', function(){
    $(this).siblings().removeClass('active'); // if you want to remove class from all sibling buttons
    $(this).toggleClass('active');
});
$('.button2').on('click', function(){
    $(this).siblings().removeClass('active'); // if you want to remove class from all sibling buttons
    $(this).toggleClass('active');
});
$('.buttonz').on('click', function(){
    $(this).siblings().removeClass('active'); // if you want to remove class from all sibling buttons
    $(this).toggleClass('active');
});
$('.button3').on('click', function(){
    $(this).siblings().removeClass('active'); // if you want to remove class from all sibling buttons
    $(this).toggleClass('active');
});
$('.button4').on('click', function(){
    $(this).siblings().removeClass('active'); // if you want to remove class from all sibling buttons
    $(this).toggleClass('active');
});
    });
</script>
<style>

  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.badge, .btn, .btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover, .card, .jumbotron, .md-form input[type=date].input-alternate, .md-form input[type=datetime-local].input-alternate, .md-form input[type=email].input-alternate, .md-form input[type=number].input-alternate, .md-form input[type=password].input-alternate, .md-form input[type=search-md].input-alternate, .md-form input[type=search].input-alternate, .md-form input[type=tel].input-alternate, .md-form input[type=text].input-alternate, .md-form input[type=time].input-alternate, .md-form input[type=url].input-alternate, .md-form textarea.md-textarea.input-alternate, .media .media-left img, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .page-item.active .page-link, .z-depth-1 {
    box-shadow:none;
}

.navbar {
    margin-bottom: 5px;
    padding: 0px;
}

nav .navbar-nav li a{

  color: black ;
  font-size: 15px;
  font-weight: 700;
  }
  nav .navbar-nav li a:hover{
    	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
 
  color: white ;
  font-size: 15px;
  font-weight: 900;
  }

.button1 {
  padding-left:5px;
  padding-right: 5px;
	color: black;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid white;
}
.button1 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button1:hover {
background: linear-gradient(215deg,#3ed9bf, #205cd7);
background-size: 400% 400%;
-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  color: white !important;	
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
}


.buttonz {
    text-align: center;
  padding-left:25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 5px;
	color: black;
    background-color: #19c1d7;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid white;
    color: white;
}
.buttonz a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.buttonz:hover {
background: linear-gradient(215deg,#3ed9bf, #205cd7);
background-size: 400% 400%;
-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
  color: white !important;	
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
}

@media (min-width: 760px) {
    .my-right-float {
        float: right;
    }
}

.btn:not(:disabled):not(.disabled) {
    margin-top: 240px;
    cursor: pointer;
    border-radius: 25px;
    padding: 12px;
    position: absolute;
}

.btnxz:not(:disabled):not(.disabled) {
    margin-top: 325px;
    cursor: pointer;
    padding: 0px;
    position: absolute;
    border: none;
    box-shadow: none;
}
.buttonz.active{
    background: linear-gradient(215deg,#3ed9bf, #205cd7);
background-size: 400% 400%;
-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
  color: white !important;	
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
}
.button.active{
    background-color: #666;
    color: white;
}
.button5.active{
    background-color: #666;
    color: white;
}
.button2.active{
    background-color: #666;
    color: white;
}
.button3.active{
    background-color: #666;
    color: white;
}
.button4.active{
    background-color: #666;
    color: white;
}

.btn1:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 25px;
    padding-left: 12px;
    padding-right: 12px;

}

#sidebar ul li a {
    padding: 13px;
    padding-left: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 16px;
}

canvas{
    border:1px solid #000000;
    border-radius: 20px;
    border: none;
    box-shadow:0 5px 30px 3px #bec0c4;
    height:100% !important;
    width: 100% !important; 
    min-height: 500px; 
}

table.table thead th {
    border-top: none;
    font-weight: 800;
}

table.table tbody td {
    border-top: none;
    font-weight: 800;
}
.play{
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
       -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.pause{
      transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
    -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
</style>
</head>
<body style="font-family: 'Montserrat', sans-serif;">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid"> 
      <img class= "navbar-brand" src="images/nerolaclogo.png" style="padding-top:0px;padding-bottom:0px;margin-right:100px;" width="400px" alt="loading">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item active button1 "> <a class="nav-link" href="/analytics"> Analytics </a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/dashboard">Dashboard</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_vendors">Manage Vendors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_colors">Manage Colors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/bugreports">Bug Reports</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/logout">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<section class="bf-table" > 

  <!--Top Table UI-->
 
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar"><hr><br>
            <div class="sidebar-header">
                <strong class="article" data-bind="foreach:sessionlogs">
                <img class= "navbar-brand" src="images/icon1.png" width="25px">
                &nbsp;&nbsp;
                    :<span data-bind="text:count"></span>
                </strong>
                <strong class="article1" data-bind="foreach:regdealers">
                <img class= "navbar-brand" src="images/icon2.png" width="20px">
                &nbsp;&nbsp;
                    :<span data-bind="text:count"></span>
                </strong><hr>
                <strong class="article2" data-bind="foreach:maxsessiontime">
                <img class= "navbar-brand" src="images/icon3.png" width="30px">
                &nbsp;&nbsp;
                    :<span data-bind="text:maxtime"></span>
                </strong>
                <strong class="article3" data-bind="foreach:minsessiontime">
                <img class= "navbar-brand" src="images/icon4.png" width="30px">
                &nbsp;&nbsp;
                    :<span data-bind="text:mintime"></span>
                </strong>
                <strong class="article4" data-bind="foreach:avgsessiontime">
                <img class= "navbar-brand" src="images/icon5.png" width="25px">
                &nbsp;&nbsp;
                    :<span data-bind="text:avgtime"></span>
                </strong><hr>
                <strong class="article5" data-bind="foreach:bestcolor">
                <img class= "navbar-brand" src="images/icon6.png" width="25px">
                &nbsp;&nbsp;
                    :<span class="color-dot" data-bind="style:{backgroundColor:bestcolor}"></span>
                </strong>
                <strong class="article6" data-bind="foreach:bestdealer">
                <img class= "navbar-brand" src="images/icon7.png" width="25px">
                &nbsp;&nbsp;
                    :<span data-bind="text:dealer"></span>
                </strong>
                <strong class="article7" data-bind="foreach:hottestgeoloc">
                <img class= "navbar-brand" src="images/icon8.png" width="25px">
                &nbsp;&nbsp;
                    :<span data-bind="text:city"></span>
                </strong>
                <strong class="article8" data-bind="foreach:uniquecust">
                <img class= "navbar-brand" src="images/icon9.png" width="25px">
                &nbsp;&nbsp;
                    :<span data-bind="text:avg"></span>
                </strong>
            </div>
            <ul class="CTAs">
                <li data-bind="foreach:sessionlogs">
                    <a class="article">Total Number of Sessions Logged
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span style="text-align:right" data-bind="text:count"></span>
                    </a>
                </li>
                <li data-bind="foreach:regdealers">
                    <a class="article1">Total Number of Dealers Registered
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span data-bind="text:count"></span>
                    </a>
                </li>
                <hr>
                <li data-bind="foreach:maxsessiontime">
                    <a class="article2">Maximum Session Time in VR
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span data-bind="text:maxtime"></span>
                    </a>
                </li>
                <li data-bind="foreach:minsessiontime">
                    <a class="article3">Minimum Session Time in VR
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span data-bind="text:mintime"></span>
                    </a>
                </li>
                <li data-bind="foreach:avgsessiontime">
                    <a class="article4">Average Session Time in VR
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span data-bind="text:avgtime"></span>
                    </a>
                </li>
                <hr>
                <li data-bind="foreach:bestcolor">
                    <a class="article5">Most Shortlisted Color
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span class="color-dot" data-bind="style:{backgroundColor:bestcolor}"></span>
                    </a>
                </li>
                <li data-bind="foreach:bestdealer">
                    <a class="article6">Highest Performing Dealer
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span data-bind="text:dealer"></span>
                    </a>
                </li>
                <li data-bind="foreach:hottestgeoloc">
                    <a class="article7">Hottest Geolocation
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :<span data-bind="text:city"></span>
                    </a>
                </li>
                <li data-bind="foreach:uniquecust">
                    <a class="article8">Average Number of Customers Per Dealer
                        :<span data-bind="text:avg"></span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
    <nav class="navbar navbar-expand-lg" style="position:fixed;left:555px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active buttonz"> <a class="nav-link" id="closemap"> Timeline View</a> </li>
                    <li class="nav-item buttonz"> <a class="nav-link" id="closemap1">Color Forward Lookup</a> </li>
                    <li class="nav-item buttonz"> <a class="nav-link" id="closemap2">Color Backward Lookup</a> </li>
                    <li class="nav-item buttonz"> <a class="nav-link" id="closemap3">Dealer Forward Lookup</a> </li>
                    <li class="nav-item buttonz"> <a class="nav-link" id="closemap4">Dealer Backward Lookup</a> </li>
                </ul>
            </div>
        </div>
    </nav>
<br>
<hr>      
            <button type="button" id="sidebarCollapse" class="btnxz btn-info play" >
                <img class= "" src="images/arrow1.jpg" width="40px" onclick="toggle(this);">
            </button>
            <div class="inner-wrapper" id="hideinnerwrapper">
                <div style="margin-left:100px;margin-right:60px;" class="inner-content">
                                              <div class="col-12 row">
        <form class="form-inline" 
        style="box-shadow: 0px 0px 2px #000;
        padding: 8px ;
        border-radius: 4px;
        background-color:white;
        font-weight:800; 
        position:fixed;
        z-index: 1;
        min-width: 690px;
        max-width: 100% !important;
        margin:auto;
        margin-right: 20px;
        margin-top: 30px;">
        {{!-- <span style="margin-left:120px;"></span> --}}
        &nbsp;Week:
          <select data-bind="value:enterWeek" style="width:150px;margin:5px;">
            <option value="">Null</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>&nbsp;&nbsp;&nbsp;&nbsp;
        Month:
          <select data-bind="value:enterMonth" style="width:150px;margin:5px;">
            <option value="">Null</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>&nbsp;&nbsp;&nbsp;&nbsp;
        Year:
          <select data-bind="value:enterYear" style="width:150px;margin:5px;">
            <option value="">Null</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
          <button data-bind="click:searchDealer4" style="width:200px;border:none;margin:auto;display:block;" type="submit" class="btn1 btn-sm btn-primary form-padding"><i class="fa fa-search"></i><span style="font-weight:800;">&nbsp;Search</span></button>
        </form>
      </div>
 <br><br>
         <div id="blankdealer0" style="color:red;text-align:center;font-weight:900;">Please select time period.</div>
          <div id="wrongdealer0" style="color:red;text-align:center;font-weight:900;">Data does not exist.</div>
          <div id="rightdealer0" style="color:green;text-align:center;font-weight:900;">Success! Click timeline buttons to view data.</div>
 <br><br><br><canvas id="chart_div11"></canvas><br>
                </div>
            </div>

                        <div class="inner-wrapper1"  id="hideinnerwrapper1">
                <div style="margin-left:100px;margin-right:60px;" class="inner-content1">
                                <div id="chart_div1">
                      <div class="col-12 row">
        <form class="form-inline"         style="box-shadow: 0px 0px 2px #000;
        padding: 8px ;
        border-radius: 4px;
        background-color:white;
        font-weight:800; 
        position:fixed;
        z-index: 1;
        min-width: 690px;
        max-width: 2560px;
        margin: 0 auto;
        margin-right: 20px;
        margin-top: 30px;">
         {{!-- <span style="margin-left:30px;"></span> --}}
        &nbsp;<input data-bind="value:enterCS" class="form-control form-padding" style="width:205px;box-shadow: 0px 0px 1px #000;" type="text" placeholder="City/State">&nbsp;
        Gender:&nbsp;
          <select data-bind="value:enterGender" style="width:80px">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
          </select>&nbsp;
        Type:&nbsp;
          <select data-bind="value:enterType" style="width:120px">
            <option value="$onebhksilver">1 BHK Silver</option>
            <option value="$onebhkgold">1 BHK Gold</option>
            <option value="$twobhkgold">2 BHK Gold</option>
            <option value="$exterior">EXTERIOR</option>
          </select>&nbsp;
        Week:&nbsp;
          <select data-bind="value:enterWeek1" style="width:80px">
            <option value="">Null</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>&nbsp;
        Month:&nbsp;
          <select data-bind="value:enterMonth1" style="width:100px">
            <option value="">Null</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>&nbsp;
        Year:&nbsp;
          <select data-bind="value:enterYear1" style="width:100px">
            <option value="">Null</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
          &nbsp;<button data-bind="click:searchDealer1" style="width:200px;border:none;margin:auto;display:block;" type="submit" class="btn1 btn-sm btn-primary form-padding"><i class="fa fa-search"></i><span style="font-weight:800;">&nbsp;Search</span></button>
        </form>
      </div><br><br>    
        <div id="blankdealer1" style="color:red;text-align:center;font-weight:900;">Please enter City/State.</div>
          <div id="wrongdealer1" style="color:red;text-align:center;font-weight:900;">City/State does not exist.</div>
          <div id="rightdealer1" style="color:green;text-align:center;font-weight:900;">Success! Click timeline buttons to view data.</div>
            
                <div class="inner-wrapper" >
                <div class="inner-content"><br><br><br>  
                        {{!-- <button id="6" type="button" class="button5" style="font-weight:900;" >Weekly</button>
                        <button id="7" type="button" class="button5" style="font-weight:900;" >Monthly</button>
                        <button id="8" type="button" class="button5" style="font-weight:900;" >Yearly</button> --}}
                        <canvas id="chart_div10"></canvas>
                        <br><canvas id="chart_div6"></canvas><br>
                </div>
            </div></div>
                </div>
            </div>
            
                        <div class="inner-wrapper2"  id="hideinnerwrapper2">
                <div style="margin-left:100px;margin-right:60px;" class="inner-content2">
                    <div id="chart_div2">
                                              <div class="col-12 row">
        <form class="form-inline"         style="box-shadow: 0px 0px 2px #000;
        padding: 8px ;
        border-radius: 4px;
        background-color:white;
        font-weight:800; 
        position:fixed;
        z-index: 1;
        min-width: 690px;
        max-width: 100%;
        margin: 0 auto;
        margin-right: 20px;
        margin-top: 30px;">
         {{!-- <span style="margin-left:30px;"></span>  --}}
         &nbsp;<input data-bind="value:enterColor" class="form-control form-padding" style="width:205px;box-shadow: 0px 0px 1px #000;" type="text" placeholder="Hex Color">&nbsp;
        Gender:&nbsp;
          <select data-bind="value:enterGender1" style="width:80px">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
          </select>&nbsp;
        Type:&nbsp;
          <select data-bind="value:enterType1" style="width:120px">
            <option value="onebhksilver">1 BHK Silver</option>
            <option value="onebhkgold">1 BHK Gold</option>
            <option value="twobhkgold">2 BHK Gold</option>
            <option value="exterior">EXTERIOR</option>
          </select>&nbsp;
        Week:&nbsp;
          <select data-bind="value:enterWeek2" style="width:80px">
            <option value="">Null</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>&nbsp;
        Month:&nbsp;
          <select data-bind="value:enterMonth2" style="width:100px">
            <option value="">Null</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>&nbsp;
        Year:&nbsp;
          <select data-bind="value:enterYear2" style="width:100px">
            <option value="">Null</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
          &nbsp;<button data-bind="click:searchDealer3" style="width:200px;border:none;margin:auto;display:block;" type="submit" class="btn1 btn-sm btn-primary form-padding"><i class="fa fa-search"></i><span style="font-weight:800;">&nbsp;Search</span></button>
        </form>
      </div><br><br>      
        <div id="blankdealer3" style="color:red;text-align:center;font-weight:900;">Please enter Hex Color.</div>
          <div id="wrongdealer3" style="color:red;text-align:center;font-weight:900;">Hex Color does not exist.</div>
          <div id="rightdealer3" style="color:green;text-align:center;font-weight:900;">Success! Click timeline buttons to view data.</div>
           
                <div class="inner-wrapper" >
                <div class="inner-content"><br><br> <br> 
                        {{!-- <button id="21" type="button" class="button2" style="font-weight:900;" >Weekly</button>
                        <button id="22" type="button" class="button2" style="font-weight:900;" >Monthly</button>
                        <button id="23" type="button" class="button2" style="font-weight:900;" >Yearly</button> --}}
                        <canvas id="chart_div13"></canvas><br>
                </div>
            </div>
                    </div>
                </div>
            </div>

                    <div class="inner-wrapper3"  id="hideinnerwrapper3">
                <div style="margin-left:100px;margin-right:60px;" class="inner-content3">
                    <div id="chart_div3">
                                              <div class="col-12 row">
        <form class="form-inline"         style="box-shadow: 0px 0px 2px #000;
        padding: 8px ;
        border-radius: 4px;
        background-color:white;
        font-weight:800; 
        position:fixed;
        z-index: 1;
        min-width: 690px;
        max-width: 100%;
        margin: 0 auto;
        margin-right: 20px;
        margin-top: 30px;">
         {{!-- <span style="margin-left:78px;"></span>  --}}
         &nbsp;<input data-bind="value:enterDealer2" class="form-control form-padding" style="width:200px;box-shadow: 0px 0px 1px #000;" type="text" placeholder="GEO TARGET CITY">
        &nbsp;&nbsp;Week:&nbsp;
          <select data-bind="value:enterWeek3" style="width:90px">
            <option value="">Null</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>&nbsp;
        Month:&nbsp;
          <select data-bind="value:enterMonth3" style="width:100px">
            <option value="">Null</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>&nbsp;
        Year:&nbsp;
          <select data-bind="value:enterYear3" style="width:100px">
            <option value="">Null</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>&nbsp;
          <button data-bind="click:searchDealer2" style="width:200px;border:none;margin:auto;display:block;" type="submit" class="btn1 btn-sm btn-primary form-padding"><i class="fa fa-search"></i><span style="font-weight:800;">&nbsp;Search</span></button>
        </form>
      </div>
<br><br>
                <div id="blankdealer2" style="color:red;text-align:center;font-weight:900;">Please enter city name.</div>
          <div id="wrongdealer2" style="color:red;text-align:center;font-weight:900;">City does not exist.</div>
          <div id="rightdealer2" style="color:green;text-align:center;font-weight:900;">Success! Click timeline buttons to view data.</div>
            
                <div class="inner-wrapper" >
                <div class="inner-content"><br> <br> 
{{!-- 
                        <button id="15" type="button" class="button3" style="font-weight:900;">Daily</button>
                        <button id="16" type="button" class="button3" style="font-weight:900;" >Weekly</button>
                        <button id="17" type="button" class="button3" style="font-weight:900;" >Monthly</button>
                        <button id="18" type="button" class="button3" style="font-weight:900;" >Yearly</button> --}}
                        <br>
                        <canvas id="chart_div7"></canvas><br>
                        <canvas id="chart_div8"></canvas><br>
                </div>
            </div>
                    </div>
                </div>
            </div>

            <div class="inner-wrapper4"  id="hideinnerwrapper4">
                <div style="margin-left:100px;margin-right:60px;" class="inner-content4">
            <div id="chart_div5">
                      <div class="col-12 row">
        <form class="form-inline"         style="box-shadow: 0px 0px 2px #000;
        padding: 8px ;
        border-radius: 4px;
        background-color:white;
        font-weight:800; 
        position:fixed;
        z-index: 1;
        min-width: 690px;
        max-width: 100%;
        margin: 0 auto;
        margin-right: 20px;
        margin-top: 30px;">
          &nbsp;<input data-bind="value:enterDealer" class="form-control form-padding" style="width:200px;box-shadow: 0px 0px 1px #000;" type="text" placeholder="Dealer UUID">
        &nbsp;&nbsp;Week:&nbsp;
          <select data-bind="value:enterWeek4" style="width:90px">
            <option value="">Null</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>&nbsp;
        Month:&nbsp;
          <select data-bind="value:enterMonth4" style="width:100px">
            <option value="">Null</option>
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>&nbsp;
        Year:&nbsp;
          <select data-bind="value:enterYear4" style="width:100px">
            <option value="">Null</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>&nbsp;
          <button data-bind="click:searchDealer" style="width:200px;border:none;margin:auto;display:block;" type="submit" class="btn1 btn-sm btn-primary form-padding"><i class="fa fa-search"></i><span style="font-weight:800;">&nbsp;Search</span></button>
        </form>
      </div>
                        {{!-- <button id="11" type="button" class="button4" style="font-weight:900;" >Weekly</button>
                        <button id="12" type="button" class="button4" style="font-weight:900;" >Monthly</button>
                        <button id="13" type="button" class="button4" style="font-weight:900;" >Yearly</button> --}}
            <div class="table-wrapper"> 
        <!--Table--><br><br><br><br> 
        <table class="table table-hover mb-0">
          
          <!--Table head-->
          <thead>
            <tr>
              <th>
                <label class="mr-2 label-table">#</label>
              </th>
              <th class="th-lg">Model</th>
              <th class="th-lg">IMEI No.</th>
              <th class="th-lg">Android Version</th>
              <th class="th-lg">Nerolac Version</th>
              <th class="th-lg">Last Session</th>
            </tr>
          </thead>
          <!--Table head--> 
          
          <!--Table body-->
            <tbody data-bind='foreach:drlookup' id="founddealer">
            <tr>
              <td scope="row">
                <label class="label-table" data-bind="text:$index()+1"></label>
              </td>
              <td data-bind="text:model"></td>
              <td data-bind="text:imeinumber"></td>
              <td data-bind="text:andversion"></td>
              <td data-bind="text:neroversion"></td>
              <td data-bind="text:lastsession"></td>
            </tr>
          </tbody>
          <br>
          <div id="blankdealer" style="color:red;text-align:center;font-weight:900;">Please enter dealer code</div>
          <div id="wrongdealer" style="color:red;text-align:center;font-weight:900;">Dealer does not exist.</div>
          <div id="rightdealer" style="color:green;text-align:center;font-weight:900;">Success! Click timeline buttons to view data.</div>
          <!--Table body-->
        </table><br>
        <!--Table--> 
      </div>
                <div class="inner-wrapper" >
                <div class="inner-content">   <br>                   
                        <canvas id="chart_div9"></canvas><br>
                </div>
            </div>
</div>           
                </div>
            </div>
   </div>
   </div>
  <!--Top Table UI-->
</section>

<!-- Bootstrap core JavaScript --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src ='js/jquery.simplePagination.js'></script>
<script src="js/analytics.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css"> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</body>
</html>
