<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Nerolac VR dashboard</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/enso.css" rel="stylesheet">
<link href="css/bugreports.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/the-big-picture.css" rel="stylesheet">
<!--	<link href="css/compiled.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<link href="css/simplePagination.css" rel="stylesheet">
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src='js/knockout-3.4.2.js'></script>
<style>

</style>
</head>
<body style="font-family: 'Montserrat', sans-serif;">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid"> <img class= "navbar-brand" src="images/nerolaclogo.png" style="padding-top:0px;padding-bottom:0px;margin-right:100px;" width="400px" alt="loading">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item button1 "> <a class="nav-link" href="/analytics"> Analytics </a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/dashboard">Dashboard</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_vendors">Manage Vendors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_colors">Manage Colors</a> </li>
        <li class="nav-item active button1"> <a class="nav-link" href="/bugreports">Bug Reports</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/logout">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>
<!--vendor addition-->
<!-- Page Content -->
<section style="font-family: 'Source Sans Pro', sans-serif;">  
  <!--Card image--> 
  <div class=" py-2 mx-4"></div> 
  <!--Top Table UI-->
  <div class="tabletopcard">  
    <!--Grid row-->
    <div class="row" style="justify-content: center;" > 
      <!--Grid column-->
      <div class="col-12 row">
        <form class="form-inline" style="margin:auto;box-shadow: 0px 0px 12px #888888;padding: 10px ;border-radius: 4px">
          <input  data-bind="value:searchName" class="form-control form-padding" type="text" placeholder="Dealer Code">
          <label for="mobile" class="form-padding" style="color: black">Or:</label>
          <input data-bind="value:searchNumber" class="form-control form-padding" type="text" id="mobile" placeholder="Bug Type" >
          <button data-bind="click:searchVendor" class="btn btn-sm btn-primary form-padding"><i class="fa fa-search"></i> </button>
        </form>
      </div>
      <!--Grid column--> 
    </div>
    <!--Grid row--> 
  </div>
  <!--Top Table UI-->
  <div class="card card-cascade narrower">
    <div class=" py-2 mx-4"> </div>
    <!--Card image-->
    <div class="tabletopgradientcard py-3 mx-4 justify-content-between align-items-center" > 
    	<span class="white-text mx-3">Bug Reports</span> 
    	{{!-- <button class="btn btn-sm py-2 px-3 btn-amber" data-bind="click:AddVendorClick">Add </button> --}}
    </div>
    <!--/Card image-->
    <div class=" py-2 mx-4"> </div>
    <div class="px-4" >
        <!--Table-->
        <table class="table table-hover mb-0 ">
          <!--Table head-->
          <thead >
            <tr>
              <th> 
                <label class="mr-2 label-table">#</label>
              </th>
              <th class="th-lg"><a><b>Dealer Name    </b></a></th>
              <th class="th-lg"><a><b>Dealer Code    </b></a></th>
              <th class="th-lg"><a><b>App Version    </b></a></th>
              <th class="th-lg"><a><b>Bug Type       </b></a></th>
              <th class="th-lg"><a><b>Android Version</b></a></th>
            </tr>
          </thead>
          <!--Table head--> 
          <!--Table body-->
          <!--Table body-->
          </table>
        <!--Table--> 
<div class="panel-group" role="tablist" data-bind="foreach: vendorlist">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab">
             <div class="panel-title">
            <table class="table table-hover mb-0 mytable">
            <tr>
              <th data-bind="text:$index() +1+ $parent.skipto()" class="mytable"></th>
              <th data-bind="text:name" class="mytable">   </th>
              <th data-bind="text:code" class="mytable">   </th>
              <th data-bind="text:nerover" class="mytable"></th>
              <th data-bind="text:bugt" class="mytable">   </th>
              <th data-bind="text:andver" class="mytable"> </th>
            </tr>
            </table>
             </div>
        </div>
        <div class="panel-collapse collapse" role="tabpanel">
            <b>Description: </b><br><span style="margin-left:50px;" class="panel-body" data-bind="text: desc"></span><br><br>
            <table class="" style="width:100%">
              <div>
              <tr>
                <td class="span1" data-bind="text:model"></td>
                <td class="span1" data-bind="text:imei"></td>
                <td class="span1" data-bind="text:andver"></td>
              </tr>
            </div>
            <div>
              <tr>
                <td class="span2" data-bind="text:bat"></td>
                <td class="span2" data-bind="text:nerover"></td>
                <td class="span2" data-bind="text:last"></td>
              </tr>
            </div>
            <div>
              <tr>
                <td class="span3" data-bind="text:city"></td>
                <td class="span3" data-bind="text:bugt"></td>
                <td class="span3" data-bind="text:last"></td>
              </tr>
              </div>
            </table>
        </div>
    </div>
</div>
      <!--Bottom Table UI-->
      <div class="d-flex row justify-content-between" > 
        <!--Pagination -->
        <nav class="my-4" >
          <ul class="pagination pagination-circle pagination-sm pg-blue mb-0" id = "pager" >
            <!--First-->
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <!--Arrow left-->
            <li class="page-item disabled"> <a class="page-link" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a> </li>
            <!--Numbers-->
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">4</a></li>
            <li class="page-item"><a class="page-link">5</a></li>
            <!--Arrow right-->
            <li class="page-item"> <a class="page-link" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a> </li>
            <!--First-->
            <li class="page-item"><a class="page-link">Last</a></li>
          </ul>
        </nav>
        <!--/Pagination --> 
      </div>
      <!--Bottom Table UI--> 
    </div>
  </div>
</section>
<!-- Bootstrap core JavaScript --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src ='js/jquery.simplePagination.js'></script>
<script src='js/bugreports.js'></script>
</body>
</html>
