<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Nerolac VR dashboard</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/enso.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/the-big-picture.css" rel="stylesheet">
<!--	<link href="css/compiled.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<link href="css/simplePagination.css" rel="stylesheet">
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src='js/knockout-3.4.2.js'></script>
</head>

<body style="font-family: 'Source Sans Pro', sans-serif;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"> <img class= "navbar-brand" src="images/nerolaclogo.png" width="250px" alt="loading">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#">Analytics</a> </li>
        <li class="nav-item active"> <a class="nav-link" href="/dashboard">Dashboard</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/manage_vendors">Manage Vendors</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/manage_colors">Manage Colors</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<section class="bf-table"> 
 <form>
  existing pass:<br>
  <input type="text" name="existingpass">
  <br>
  new pass:<br>
  <input type="text" name="newpass" >
  <br><br>
  <input type="submit" value="Submit">
</form> 
</section>

<!-- Bootstrap core JavaScript --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src ='js/jquery.simplePagination.js'></script>
<script src="js/dashboard.js"></script>

</body>
</html>
