<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Nerolac VR dashboard</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/enso.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/the-big-picture.css" rel="stylesheet">
<!--	<link href="css/compiled.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<link href="css/simplePagination.css" rel="stylesheet">
<!-- Bootstrap tooltips -->
<script src='https://code.jquery.com/jquery-3.3.1.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src='js/knockout-3.4.2.js'></script>
<script>
function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
</script>
<style>
  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.badge, .btn, .btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover, .card, .jumbotron, .md-form input[type=date].input-alternate, .md-form input[type=datetime-local].input-alternate, .md-form input[type=email].input-alternate, .md-form input[type=number].input-alternate, .md-form input[type=password].input-alternate, .md-form input[type=search-md].input-alternate, .md-form input[type=search].input-alternate, .md-form input[type=tel].input-alternate, .md-form input[type=text].input-alternate, .md-form input[type=time].input-alternate, .md-form input[type=url].input-alternate, .md-form textarea.md-textarea.input-alternate, .media .media-left img, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .page-item.active .page-link, .z-depth-1 {
    box-shadow:none;
}
.navbar {

    padding: 0px;
}
nav .navbar-nav li a{

  color: black ;
  font-size: 15px;
  font-weight: 600;
  }
  nav .navbar-nav li a:hover{
    	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
 
  color: white ;
  font-size: 15px;
  font-weight: 800;
  }

.button1 {
  padding-left:5px;
  padding-right: 5px;
	color: black;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid white;
}
.button1 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button1:hover {
  background: linear-gradient(215deg,#3ed9bf, #205cd7);
background-size: 400% 400%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  color: white !important;	
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}


}
@media (min-width: 760px) {
    .my-right-float {
        float: right;
    }
}
</style>
</head>

<body style="font-family: 'Montserrat', sans-serif;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid"> <img class= "navbar-brand" src="images/nerolaclogo.png" style="padding-top:0px;padding-bottom:0px;margin-right:100px;" width="400px" alt="loading">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item button1 "> <a class="nav-link" href="/analytics"> Analytics </a> </li>
        <li class="nav-item active button1"> <a class="nav-link" href="/dashboard">Dashboard</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_vendors">Manage Vendors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_colors">Manage Colors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/bugreports">Bug Reports</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/logout">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Page Content -->
<section class="bf-table"  style="font-family: 'Source Sans Pro', sans-serif;"> 

  <!--Card image-->
  
  <div class=" py-2 mx-4"> </div>
  
  <!--Top Table UI-->
  <div class="tabletopcard"> 
    
    <!--Grid row-->
    <div class="row" > 
      
      <!--Grid column-->
      <div class="col-lg-4 col-md-6" style="padding: 10px"> 
        <div class="tabletopdropdowncard">
        <!--Name-->
<button onclick="exportTableToCSV('Nerolac_Customers.csv')" style="padding-left:30px;padding-right:120px;padding-top:9px;padding-bottom:9px;color:#6c757d;background-color:white;border-radius:4px;border:1px solid #ced4da;box-shadow:none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">Export as CSV file</button>
      </div></div>
      <!--Grid column--> 
      

      
      <!--Grid column-->
      <div class="col-lg-4 col-md-6" style="padding: 10px"> 
        
        <!--Blue select-->
        <select class="tabletopdropdowncard"  data-bind="value:enterSearchType">
          <option value="" disabled selected>Filter segments</option>
          <option value="DateofRegistration">Date</option>
          <option value="vendorname">Vendor Name</option>
          <option value="vendorid">Vendor Id</option>
          <option value="vendornumber">Vendor Number</option>
          <option value="customername">Customer Name</option>
          <option value="email">Customer Email</option>
          <option value="number">Customer Number</option>
          <option value="gender">Gender</option>
          <option value="city">Customer Location</option>
         {{!-- <option value="10">Customer Likes</option> --}}
        </select>
        <!--/Blue select--> 
        
      </div>
      <!--Grid column--> 
      <!--Grid column-->
      <div class="col-lg-4 col-md-6" style="padding: 10px">
        <form class="form-inline" style="margin:auto; width: 270px">
          <input class="form-control" data-bind="value:enterToSearch" type="text" placeholder="Search" >
          <div style="margin: auto">
            <button data-bind="click:searchData" type="submit" class="btn btn-sm btn-primary ml-2 px-2" ><i class="fa fa-search"></i> </button>
          </div>
        </form>
      </div>
      <!--Grid column--> 
    </div>
    <!--Grid row--> 
    
  </div>
  <!--Top Table UI-->
  
  <div class="card card-cascade narrower">
    <div class=" py-2 mx-4"> </div>
    <!--Card image-->
    <div class="tabletopgradientcard py-3 mx-4 justify-content-between align-items-center" > <a href="" class="white-text mx-3">Table name</a> </div>
    <!--/Card image-->

    <div class=" py-2 mx-4"> </div>
    <div class="px-4" >
      <div class="table-wrapper"> 
        <!--Table-->
        <table id="fixed_table" class="table table-hover mb-0">
          
          <!--Table head-->
          <thead>
            <tr>
              <th> 
                <label class="mr-2 label-table">#</label>
              </th>
              <th class="th-lg"><a href=""><b>Date             </b></a></th>
              <th class="th-lg"><a href=""><b>Vendor Name      </b></a></th>
              <th class="th-lg"><a href=""><b>Vendor ID        </b></a></th>
              <th class="th-lg"><a href=""><b>Vendor Number    </b></a></th>
              <th class="th-lg"><a href=""><b>Customer Name    </b></a></th>
              <th class="th-lg"><a href=""><b>Customer Email   </b></a></th>
              <th class="th-lg"><a href=""><b>Customer Number  </b></a></th>
              <th class="th-lg"><a href=""><b>Gender           </b></a></th>
              <th class="th-lg"><a href=""><b>Customer Location</b></a></th>
              <th class="th-lg"><a href=""><b>Customer Likes   </b></a></th>

            </tr>
          </thead>
          <!--Table head--> 
          
          <!--Table body-->
          <tbody data-bind="foreach:customerentries">
            <tr>
              <th scope="row">
              <label class="label-table" data-bind="text:$index()+ 1 + $parent.skipto()"></label>
              </th>
              <td data-bind="text:dor"></td>
              <td data-bind="text:vendorname"></td>
              <td data-bind="text:vendorid"></td>
              <td data-bind="text:vendornumber"></td>
              <td data-bind="text:name"></td>
              <td data-bind="text:email"></td>
              <td data-bind="text:phone"></td>
              <td data-bind="text:gender"></td>
              <td data-bind="text:city"></td>
              <td data-bind="foreach:likedcolor">
              <span class="color-dot" data-bind="style:{backgroundColor:code}"></span>
              </td>

            </tr>
 
          </tbody>
          <!--Table body-->
        </table>
        <!--Table--> 
      </div>
                  <div id="datanotfound" style="color:red;text-align:center;font-weight:900;">Entered string doesnot match data.</div>

      <hr class="my-0">
      
      <!--Bottom Table UI-->
      <div class="d-flex row justify-content-between" > 
        
        <!--Name-->
        {{!-- <select class="tabletopdropdowncard" style="width:190px; margin: auto 0;" 
                data-bind="options:rowoptions,
                          value:selectedrowsperpg,
                          valueAllowUnset: true,
                          event: { change: numberofRowsChanged }">
        </select> --}}
        
        <!--Pagination -->
        <nav class="my-4" >
          <ul class="pagination pagination-circle pagination-sm pg-blue mb-0" id = "pager" >
            
            <!--First-->
            <li class="page-item disabled"><a class="page-link">First</a></li>
            
            <!--Arrow left-->
            <li class="page-item disabled"> <a class="page-link" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a> </li>
            
            <!--Numbers-->
            <li class="page-item" ><a class="page-link">1</a></li>
            <li class="page-item" ><a class="page-link">2</a></li>
            <li class="page-item" ><a class="page-link">3</a></li>
            <li class="page-item" ><a class="page-link">4</a></li>
            <li class="page-item" ><a class="page-link">5</a></li>


            
            <!--Arrow right-->
            <li class="page-item"> <a class="page-link" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a> </li>
            
            <!--Last-->
            <li class="page-item"><a class="page-link">Last</a></li>
          </ul>
        </nav>
        {{!-- <div id = "pager" class="pagination pagination-sm mb-0 my-4">
        </div> --}}

        <!--/Pagination --> 
        
      </div>
      <!--Bottom Table UI--> 
      
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src ='js/jquery.simplePagination.js'></script>
<script src="js/dashboard.js"></script>

</body>
</html>
