<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Jyppzer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="common-css/css.css" rel="stylesheet">
    <link href="common-css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="common-css/jquery.classycountdown.css" />
    <link href="02-comming-soon/css/styles.css" rel="stylesheet">
    <link href="02-comming-soon/css/responsive.css" rel="stylesheet">
    <link href="02-comming-soon/css/notify.css" rel="stylesheet">
    <link href="02-comming-soon/css/bubbles.css" rel="stylesheet">
    <script src="common-js/jquery-3.1.1.min.js"></script>
        
    <script src="common-js/jquery.countdown.min.js"></script>
    <script src="common-js/scripts.js"></script>
    <script src="common-js/notify.js"></script>
    
    <script src="common-js/sendmail.js"></script>
    <script src="common-js/maincontent.js"></script>
    <script>
$(document).ready(function() {
    $(".my-content-1").show();
    $(".my-content-2").hide();
    $(".my-content-3").hide();
    $(".aboutus").click(function(){
        $(".my-content-1").hide();
        $(".my-content-2").show();
        $(".my-content-3").hide();
      });
    $(".contactus").click(function(){
        $(".my-content-1").hide();
        $(".my-content-2").hide();
        $(".my-content-3").show();
    });
});
</script>
</head>
<body >
    <div class="main-area"  >
        <section class="left-section" id='bubbles'>
            <a class="logo" href="#"><img src="images/logo-black.png" alt="Logo"></a>
            <a class="jyppzer"><img src="images/countdown-2-1000x1000.png" alt=""></a>    
        </section>
        <section class="right-section" >
            <div class="display-table">
                    <ul class="w3-right">
                            <li><a class="aboutus">About</a></li>
                            <li><a class="contactus">Contact</a></li>
                    </ul>
                <div class="display-table-cell">
                    <div class="main-content my-content-1">
                        <h1 class="title"><b>Coming Soon</b></h1>
                        <p class="title2">ARE YOU READY?</p>
                        <div class="email-input-area">
                            <!-- <form method="post" id="notify-email-form">
                                <input class="email-input" autocomplete="off" name="email" type="text" placeholder="YOUR MAIL" />
                                <button class="submit-btn bubbly-button" type="submit">NOTIFY ME</button>
                            </form> -->
                            <form method="post" id="notify-email-form">
                                    <div class="form-row">
                                      <input class="form-control email-input" id="email" autocomplete="off" name="email" type="text" placeholder="YOUR MAIL">
                                    </div>
                                    <input type="hidden" name="captcha" value="" />
                                    <button class="submit-btn bubbly-button" name="submit" type="submit">NOTIFY ME</button>
                                </form>  
                        </div>
                    </div>
                    <div class="main-content my-content-2">
                        <h1 class="title"><b>About</b></h1>
                        <p class="title2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="main-content my-content-3">
                        <h1 class="title"><b>Contact</b></h1>
                        <p class="title2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <!-- <p class="post-desc">Sign up now to get early notification of our lauch date!</p> -->
                    </div>
                </div>
            </div>
            <!-- <ul class="footer-icons">
                <li>Stay in touch : </li>
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
            </ul> -->
        </section>
    </div>

    <script src="common-js/bubbles.js"></script>
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script> -->
</body>
</html>