<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Nerolac VR dashboard</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/enso.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/the-big-picture.css" rel="stylesheet">
<!--	<link href="css/compiled.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<link href="css/simplePagination.css" rel="stylesheet">

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src='js/knockout-3.4.2.js'></script>
<style>
  .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.badge, .btn, .btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover, .card, .jumbotron, .md-form input[type=date].input-alternate, .md-form input[type=datetime-local].input-alternate, .md-form input[type=email].input-alternate, .md-form input[type=number].input-alternate, .md-form input[type=password].input-alternate, .md-form input[type=search-md].input-alternate, .md-form input[type=search].input-alternate, .md-form input[type=tel].input-alternate, .md-form input[type=text].input-alternate, .md-form input[type=time].input-alternate, .md-form input[type=url].input-alternate, .md-form textarea.md-textarea.input-alternate, .media .media-left img, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .page-item.active .page-link, .z-depth-1 {
    box-shadow:none;
}
.navbar {

    padding: 0px;
}
nav .navbar-nav li a{

  color: black ;
  font-size: 15px;
  font-weight: 600;
  }
  nav .navbar-nav li a:hover{
    	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
 
  color: white ;
  font-size: 15px;
  font-weight: 800;
  }

.button1 {
  padding-left:5px;
  padding-right: 5px;
	color: black;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid white;
}
.button1 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button1:hover {
  background: linear-gradient(215deg,#3ed9bf, #205cd7);
background-size: 400% 400%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  color: white !important;	
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}


}
@media (min-width: 760px) {
    .my-right-float {
        float: right;
    }
}
</style>
</head>

<body style="font-family: 'Montserrat', sans-serif;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid"> <img class= "navbar-brand" src="images/nerolaclogo.png" style="padding-top:0px;padding-bottom:0px;margin-right:100px;" width="400px" alt="loading">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item button1 "> <a class="nav-link" href="/analytics"> Analytics </a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/dashboard">Dashboard</a> </li>
        <li class="nav-item active button1"> <a class="nav-link" href="/manage_vendors">Manage Vendors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/manage_colors">Manage Colors</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/bugreports">Bug Reports</a> </li>
        <li class="nav-item button1"> <a class="nav-link" href="/logout">Logout</a> </li>
      </ul>
    </div>
  </div>
</nav>


<!--vendor addition-->
<section data-bind="visible:addVisibility" style="font-family: 'Source Sans Pro', sans-serif;">
  <div class="row justify-content-center">
    <div style="margin-top: 20px;" class="col-md-4">
      <form data-bind="submit:addVendor" style="margin:auto;padding:10px;box-shadow: 0px 0px 12px #888888;border-radius: 0px;color: black;">
        <div data-bind="messageVisible" style="text-align:center">
          <span style="color:#888888" data-bind="text:message"></span>
        </div>
        <div class="form-group">
          <label for="name">Vendor Name:</label>
          <input data-bind="value:vendorName" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input data-bind="value:vendorEmail" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="number">Vendor Number:</label>
          <input data-bind="value:vendorNumber" type="number" class="form-control" id="number">
        </div>
        <div class="form-group">
          <label for="dealercode">Vendor Code:</label>
          <input data-bind="value:dealerCode" type="text" class="form-control" id="dealerCode">
        </div>
        <div class="form-group">
          <label for="pincode">Pincode:</label>
          <input data-bind="value:pinCode" type="number" class="form-control" id="pinCode">
        </div>
        <div class="form-group">
          <label for="location">City:</label>
          <input data-bind="value:location" type="text" class="form-control" id="location">
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <input data-bind="value:dealerState" type="text" class="form-control" id="state">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input data-bind="value:vendorPassword" type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-amber pull-right" data-bind="click:cancelClick">Cancel</button>
      </form>
    </div>
  </div>
</section>
<!-- Page Content -->
<section data-bind="visible:dashboardVisibility" style="font-family: 'Source Sans Pro', sans-serif;"> 
  
  <!--Card image-->
  
  <div class=" py-2 mx-4"> </div>
  
  <!--Top Table UI-->
  <div class="tabletopcard"> 
    
    <!--Grid row-->
    <div class="row" style="justify-content: center;" > 
      
      <!--Grid column-->
      <div class="col-12 row">
        <form class="form-inline" style="margin:auto;box-shadow: 0px 0px 12px #888888;padding: 10px ;border-radius: 4px">
          <input  data-bind="value:searchName" class="form-control form-padding" type="text" placeholder="Name">
          <label for="mobile" class="form-padding" style="color: black">Or:</label>
          <input data-bind="value:searchNumber" class="form-control form-padding" type="number" id="mobile" placeholder="Number" >
          <button data-bind="click:searchVendor" class="btn btn-sm btn-primary form-padding"><i class="fa fa-search"></i> </button>
        </form>
      </div>
      <!--Grid column--> 
      
    </div>
    <!--Grid row--> 
    
  </div>
  <!--Top Table UI-->
  
  <div class="card card-cascade narrower">
    <div class=" py-2 mx-4"> </div>
    <!--Card image-->
    <div class="tabletopgradientcard py-3 mx-4 justify-content-between align-items-center" > 
    	<span class="white-text mx-3">Vendors</span> 
    	<button class="btn btn-sm py-2 px-3 btn-amber" data-bind="click:AddVendorClick">Add </button>
    </div>
    <!--/Card image-->
    <div class=" py-2 mx-4"> </div>
    <div class="px-4" >
      <div class="table-wrapper"> 
        <!--Table-->
        <table class="table table-hover mb-0">
          
          <!--Table head-->
          <thead>
            <tr>
              <th> 
                <label class="mr-2 label-table">#</label>
              </th>
              <th class="th-lg">        <a><b>Vendor Name       </b></a></th>
              <th class="th-lg"><a href=""><b>Email             </b></a></th>
              <th class="th-lg"><a href=""><b>Number            </b></a></th>
              <th class="th-lg"><a href=""><b>Vendor Code       </b></a></th>
              <th class="th-lg"><a href=""><b>DateOfRegistration</b></a></th>
            </tr>
          </thead>
          <!--Table head--> 
          
          <!--Table body-->
          <tbody data-bind='foreach:vendorlist'>
            <tr>
              <th scope="row">
                <label class="label-table" data-bind="text:$index() +1+ $parent.skipto()"></label>
              </th>
              <td data-bind="text:name"></td>
              <td data-bind="text:email"></td>
              <td data-bind="text:number"></td>
              <td data-bind="text:vendorid"></td>
              <td data-bind="text:dor"></td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table--> 
      </div>
      <hr class="my-0">
      
      <!--Bottom Table UI-->
      <div class="d-flex row justify-content-between" > 
        

        
        <!--Pagination -->
        <nav class="my-4" >
          <ul class="pagination pagination-circle pagination-sm pg-blue mb-0" id = "pager" >
            
            <!--First-->
            <li class="page-item disabled"><a class="page-link">First</a></li>
            
            <!--Arrow left-->
            <li class="page-item disabled"> <a class="page-link" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a> </li>
            
            <!--Numbers-->
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">4</a></li>
            <li class="page-item"><a class="page-link">5</a></li>
            
            <!--Arrow right-->
            <li class="page-item"> <a class="page-link" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a> </li>
            
            <!--First-->
            <li class="page-item"><a class="page-link">Last</a></li>
          </ul>
        </nav>
        <!--/Pagination --> 
        
      </div>
      <!--Bottom Table UI--> 
      
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src ='js/jquery.simplePagination.js'></script>
<script src='js/manage_vendors.js'></script>
</body>
</html>
