<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!--[if !mso]><!-- -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <!--<![endif]-->

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script
    src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"
    integrity="sha256-PsB+5ZEsBlDx9Fi/GXc1bZmC7wEQzZK4bM/VwNm1L6c="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <style type="text/css" id="media-query">
      body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
   }

table, tr, td {
  vertical-align: top;
  border-collapse: collapse; }

.ie-browser table, .mso-container table {
  table-layout: fixed; }

* {
  line-height: inherit; }

a[x-apple-data-detectors=true] {
  color: inherit !important;
  text-decoration: none !important; }

[owa] .img-container div, [owa] .img-container button {
  display: block !important; }

[owa] .fullwidth button {
  width: 100% !important; }

[owa] .block-grid .col {
  display: table-cell;
  float: none !important;
  vertical-align: top; }

.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
  width: 675px !important; }

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%; }

.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
  width: 224px !important; }

.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
  width: 448px !important; }

.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
  width: 337px !important; }

.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
  width: 225px !important; }

.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
  width: 168px !important; }

.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
  width: 135px !important; }

.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
  width: 112px !important; }

.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
  width: 96px !important; }

.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
  width: 84px !important; }

.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
  width: 75px !important; }

.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
  width: 67px !important; }

.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
  width: 61px !important; }

.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
  width: 56px !important; }

@media only screen and (min-width: 695px) {
  .block-grid {
    width: 675px !important; }
  .block-grid .col {
    vertical-align: top; }
    .block-grid .col.num12 {
      width: 675px !important; }
  .block-grid.mixed-two-up .col.num4 {
    width: 224px !important; }
  .block-grid.mixed-two-up .col.num8 {
    width: 448px !important; }
  .block-grid.two-up .col {
    width: 337px !important; }
  .block-grid.three-up .col {
    width: 225px !important; }
  .block-grid.four-up .col {
    width: 168px !important; }
  .block-grid.five-up .col {
    width: 135px !important; }
  .block-grid.six-up .col {
    width: 112px !important; }
  .block-grid.seven-up .col {
    width: 96px !important; }
  .block-grid.eight-up .col {
    width: 84px !important; }
  .block-grid.nine-up .col {
    width: 75px !important; }
  .block-grid.ten-up .col {
    width: 67px !important; }
  .block-grid.eleven-up .col {
    width: 61px !important; }
  .block-grid.twelve-up .col {
    width: 56px !important; } }

@media (max-width: 695px) {
  .block-grid, .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important; }
  .block-grid {
    width: calc(100% - 40px) !important; }
  .col {
    width: 100% !important; }
    .col > div {
      margin: 0 auto; }
  img.fullwidth, img.fullwidthOnMobile {
    max-width: 100% !important; }
  .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important; }
  .no-stack.two-up .col {
    width: 50% !important; }
  .no-stack.mixed-two-up .col.num4 {
    width: 33% !important; }
  .no-stack.mixed-two-up .col.num8 {
    width: 66% !important; }
  .no-stack.three-up .col.num4 {
    width: 33% !important; }
  .no-stack.four-up .col.num3 {
    width: 25% !important; }
  .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px; } }

   
}
    </style>
    <script>
      var data;
    window.onload = function(){
    var url = document.location.href,
        params = url.split('?')[1].split('&'), tmp;
        data = {};
    for (var i = 0, l = params.length; i < l; i++) {
         tmp = params[i].split('=');
         data[tmp[0]] = tmp[1];
         
    }
    console.log(data.rating);

    //document.getElementById('here').innerHTML = data.name;
};

    </script>
    <script>
            function showone(){
              document.getElementById('hidein1').style.display = 'none';
              $('#hidein0').show('slide', {direction: 'left'}, 700);
            };
            function hidediv(){
              document.getElementById('hidein0').style.display = 'none';
              $('#hidein1').show('slide', {direction: 'right'}, 700);
            };
            function hidenav(){
            document.getElementById('hidein1').style.display = 'none';
            $('#hidein2').show('slide', {direction: 'right'}, 700);
            document.getElementById('checkboxnav').style.visibility = 'hidden';
            document.getElementById('one').style.visibility = 'hidden';
            document.getElementById('two').style.visibility = 'hidden';
            var comment = $.trim($("#comment").val());
                        if(comment != ""){
                            // Show alert dialog if value is not blank
                            console.log(comment);
                        }
                        var postdata = {comment:comment , rating: data.rating , email:data.email};
                        $.post("https://nerolackansai.co.in/api/feedback",postdata,function(respdata,status){
                          console.log(status);
                        });
            };
            </script>
            <script>
            $(document).ready(function(){
                // Check Radio-box
                $(".stars input:radio").attr("checked", false);
                $('.stars input').click(function () {
                    $(".stars label").removeClass('checked');
                    $(this).parent().addClass('checked');
                });
                $('input:radio').change(
                  function(){
                    var userRating = this.value;
                    console.log(userRating);
                    if(userRating == 1){
                      document.getElementById('small-font-text').style.display = 'block';
                      document.getElementById('small-font-text1').style.display = 'none'; 
                      document.getElementById('small-font-text2').style.display = 'none'; 
                      document.getElementById('small-font-text3').style.display = 'none'; 
                      document.getElementById('small-font-text4').style.display = 'none';
                      document.getElementById('small-font-text5').style.display = 'none';   
                    };
                    if(userRating == 2){
                      document.getElementById('small-font-text').style.display = 'none';
                      document.getElementById('small-font-text1').style.display = 'block'; 
                      document.getElementById('small-font-text2').style.display = 'none'; 
                      document.getElementById('small-font-text3').style.display = 'none'; 
                      document.getElementById('small-font-text4').style.display = 'none';
                      document.getElementById('small-font-text5').style.display = 'none'; 
                    };
                    if(userRating == 3){
                      document.getElementById('small-font-text').style.display = 'none';
                      document.getElementById('small-font-text1').style.display = 'none'; 
                      document.getElementById('small-font-text2').style.display = 'block'; 
                      document.getElementById('small-font-text3').style.display = 'none'; 
                      document.getElementById('small-font-text4').style.display = 'none';
                      document.getElementById('small-font-text5').style.display = 'none'; 
                    };

                    if(userRating == 4){
                      document.getElementById('small-font-text').style.display = 'none';
                      document.getElementById('small-font-text1').style.display = 'none'; 
                      document.getElementById('small-font-text2').style.display = 'none'; 
                      document.getElementById('small-font-text3').style.display = 'block'; 
                      document.getElementById('small-font-text4').style.display = 'none';
                      document.getElementById('small-font-text5').style.display = 'none';  
                    };
                    if(userRating == 5){
                      document.getElementById('small-font-text').style.display = 'none';
                      document.getElementById('small-font-text1').style.display = 'none'; 
                      document.getElementById('small-font-text2').style.display = 'none'; 
                      document.getElementById('small-font-text3').style.display = 'none'; 
                      document.getElementById('small-font-text4').style.display = 'block';
                      document.getElementById('small-font-text5').style.display = 'none'; 
                    };
                }); 
            });
            </script>
</head>

<body style="background-image: url('http://static.wixstatic.com/media/011899_4061f583a2cd4897b46224693b1a4f60~mv2.png'),url('http://static.wixstatic.com/media/011899_2ec174ed783145979c2641fe89ec467d~mv2.png');
    background-repeat: repeat-x,repeat-x;
    background-size: 1920px 290px,1920px 290px;
    background-position: center top,center bottom;
  position: relative;
    background-attachment: top,bottom;">

  <style type="text/css" id="media-query-bodytag">
    @media (max-width: 520px) {
      .block-grid {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

      .col {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

        .col > div {
          margin: 0 auto;
        }

      img.fullwidth {
        max-width: 100%!important;
      }
            img.fullwidthOnMobile {
        max-width: 100%!important;
      }
      .no-stack .col {
                min-width: 0!important;
                display: table-cell!important;
            }
            .no-stack.two-up .col {
                width: 50%!important;
            }
            .no-stack.mixed-two-up .col.num4 {
                width: 33%!important;
            }
            .no-stack.mixed-two-up .col.num8 {
                width: 66%!important;
            }
            .no-stack.three-up .col.num4 {
                width: 33%!important;
            }
            .no-stack.four-up .col.num3 {
                width: 25%!important;
            }
      .mobile_hide {
        min-height: 0px!important;
        max-height: 0px!important;
        max-width: 0px!important;
        display: none!important;
        overflow: hidden!important;
        font-size: 0px!important;
      }
    }

    textarea::placeholder{
font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;

}

/* HIDE INPUTS BY DEFAULT */
input {
display: none;
}

/* DISPLAY RADIO BUTTONS WHEN CHECKBOX IS CHECKED*/
input[type="checkbox"]:checked, input[type="checkbox"]:checked ~ input[type="radio"] {
display: inline-block !important;
}

/* HIDE SLIDES BY DEFAULT, DISPLAY WHEN RADIO BUTTON IS CHECKED */
.slide1, .slide2, .slide3 {
display: none;
}
#one:checked ~* .slide1, #two:checked ~* .slide2, #three:checked ~* .slide3 {
display: block !important;
}

label {
cursor: pointer;
}
  
.next {
display: inline-block !important;
background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
font-size: 16px;
color: #ffffff;
float: right;
box-shadow: 1px 5px 10px rgba(0, 0, 0, .3); 
border-radius: 8px 15px 15px 15px; 
-webkit-border-radius: 8px 15px 15px 15px; 
-moz-border-radius: 8px 15px 15px 15px; 
max-width: 240px; 
width: 200px;
width: auto; 
border-top: 0px solid transparent; 
border-right: 0px solid transparent;
border-bottom: 0px solid transparent;
border-left: 0px solid transparent; 
padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; 
font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; 
text-align: center; mso-border-alt: none;
margin-right: 12px;
}

.prev {
display: inline-block !important;
background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
font-size: 16px;
color: #ffffff;
float:left;
box-shadow: 1px 5px 10px rgba(0, 0, 0, .3); 
border-radius: 8px 15px 15px 15px; 
-webkit-border-radius: 8px 15px 15px 15px; 
-moz-border-radius: 8px 15px 15px 15px; 
max-width: 240px; 
width: 200px;
width: auto; 
border-top: 0px solid transparent; 
border-right: 0px solid transparent;
border-bottom: 0px solid transparent;
border-left: 0px solid transparent; 
padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px; 
font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; 
text-align: center; mso-border-alt: none;
margin-left: 12px;
}

.small_text {
color: #abb2bc;
}

textarea {
border: 3px solid #205cd7;
resize: none;
margin-bottom: 12px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
}

::-webkit-scrollbar { width: 0 !important }
/* STAR RATING CSS */
.cont {
width: 93%;
max-width: 600px;
height: 220px;
text-align: center;
color: #EEE;
overflow: hidden;
}
.cont1 {
width: 93%;
max-width: 600px;
height: 90px;
text-align: center;
overflow: hidden;
}
.cont2 {
  width: 100%;
  max-width: 600px;
  height: 270px;
  text-align: center;
  overflow: hidden;
}
div.stars {
width: 385px;
display: inline-block;
}

label.star {
float:right;
padding-top: 8px;
padding-left: 22px;
padding-right: 22px;
font-size: 35px;
color:#205cd7;
transition: all .3s;
}

input.star:checked ~ label.star:before {
content: '\f005';
background-color : linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
transition: all .20s;
}
input.star-5:checked ~ label.star:before {
background-color : linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
text-shadow: 0 0 25px #205cd7;
}

label.star:hover { transform:scale(1.2); }
label.star-5:before{
content: '\f006';
font-family: FontAwesome;
}
label.star-4:before{
content: '\f006';
font-family: FontAwesome;
}
label.star-3:before{
content: '\f006';
font-family: FontAwesome;
}
label.star-2:before{
content: '\f006';
font-family: FontAwesome;
}
label.star-1:before{
content: '\f005';
font-family: FontAwesome;
}

div#small-font-text, div#small-font-text1, div#small-font-text2, div#small-font-text3, div#small-font-text4 {
font-size: 15px;
color: black;
display: none;
text-align: center;
}

div#small-font-text5 {
  font-size: 15px;
color: black;
display:block;
text-align: center; 
}

  </style>
  <table class="nl-container" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;width: 100%" cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="vertical-align: top">
        <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

      <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">

            <div align="center" class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
              <div style="background-color: transparent; width: 100% !important;">
              <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:35px; padding-bottom:35px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->

              <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_0e7c166f7f614b5fba1ceb7edb543b0d~mv2.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 400px" width="675">
              <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
              </div>
            </div>
        </div>
      </div>

    <div style="background-color:transparent;">
      <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
            <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
              <div style="background-color: transparent; width: 100% !important;">
<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
<div align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px;  padding-left: 0px;">
<img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_c78ad0062ef34689870b8dc03b9115b1~mv2.png" alt="Image" title="Image" style="outline: none;filter: drop-shadow(0px 4px 20px rgba(0,0,0,.5));text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 675px" width="675">

</div>

<!-- SLIDES -->
<div align="center" class="wrapper" id="myquiz">
<div class="slide1 cont2" id="hidein0">
<div class="cont">
<h2>This is a random generated password for your account</h2>
<h3>
  New Password: {{newpass}}
</h3>
</div>
</div>
</div>
</div>
              </div>
            </div>
        </div>
      </div>
    </div>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>    <div style="background-color:transparent;">
      <div style="Margin: 0 auto;min-width: 320px;max-width: 675px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;" class="block-grid ">
        <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">

            <div class="col num12" style="min-width: 320px;max-width: 675px;display: table-cell;vertical-align: top;">
              <div style="background-color: transparent; width: 100% !important;">
              <!--[if (!mso)&(!IE)]><!--><div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->



<div align="center" style="padding-right:0px; padding-left: 0px; padding-bottom: 10px;" class="">

  <div align="center" style="display: table; max-width:100%;">



                    <div align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px;  padding-left: 0px;">
  <img class="center  autowidth  fullwidth" align="center" border="0" src="http://static.wixstatic.com/media/011899_ec4ae20a4e8e40f0a44a8ddac595eb37~mv2.png" alt="Image" title="Image" style="outline: none;filter: drop-shadow(0px 4px 20px rgba(0,0,0,.5));text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: 0;height: auto;float: none;width: 100%;max-width: 675px" width="675">
<!--[if mso]></td></tr></table><![endif]-->
</div>



                    <div class="">
    <div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:150%; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;">
        <div style="font-size:12px;line-height:18px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 21px;text-align: center"><span style="font-size: 13px; line-height: 19px;"><strong><a href="https://nerolac.com/home-paint/home-owner.html">Home</a>&#160; |&#160; <a href="https://nerolac.com/privacy-policy.html">Privacy Policy</a>&#160; |&#160; <a href="https://nerolac.com/terms-and-conditions.html">Terms &amp; Conditions</a>&#160; |&#160; <a href="https://nerolac.com/quality-policy.html">Quality Policy</a> </strong></span></p></div>
    </div>
    <!--[if mso]></td></tr></table><![endif]-->
</div>

                    <div class="">
    <div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
        <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;">@2018 Kansai Nerolac Paints Limited All Rights Reserved.</span></p></div>
    </div>
    <!--[if mso]></td></tr></table><![endif]-->
</div>

                    <div class="">
    <div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
        <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 13px; line-height: 15px;">A Subsidiary of <a href="https://www.kansai.com/">Kansai Paints</a>, Japan</span></p></div>
    </div>
    <!--[if mso]></td></tr></table><![endif]-->
</div>


                    <div class="">
    <div style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 15px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
        <div style="font-size:12px;line-height:14px;color:#16a0e1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;"><p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><strong><span style="text-decoration: underline; line-height: 15px; font-size: 13px;">FOLLOW US ON</span></strong></p></div>
    </div>
    <!--[if mso]></td></tr></table><![endif]-->
</div>



<div align="center" style="padding-right: 5px; padding-left: 5px; padding-bottom: 5px;" class="">
  <div style="line-height:5px;font-size:1px">&#160;</div>
  <div style="display: table; max-width:223px;">
    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 20px">
      <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <a href="https://www.facebook.com/NerolacPaints.India/" title="Facebook" target="_blank">
          <img src="http://static.wixstatic.com/media/011899_6ec522884f3a466a8c860f947861a32c~mv2.png" alt="Facebook" title="Facebook" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
        </a>
      <div style="line-height:5px;font-size:1px">&#160;</div>
      </td></tr>
    </tbody></table>
    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 20px">
      <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <a href="https://twitter.com/Nerolac_Paints" title="Twitter" target="_blank">
          <img src="http://static.wixstatic.com/media/011899_06b83db4bee0402b8add55050381afb2~mv2.png" alt="Twitter" title="Twitter" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
        </a>
      <div style="line-height:5px;font-size:1px">&#160;</div>
      </td></tr>
    </tbody></table>
    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 20px">
      <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <a href="https://www.instagram.com/nerolacpaints/" title="Instagram" target="_blank">
          <img src="http://static.wixstatic.com/media/011899_3b089da43af14637a6603d80c3dee5c8~mv2.png" alt="Instagram" title="Instagram" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
        </a>
      <div style="line-height:5px;font-size:1px">&#160;</div>
      </td></tr>
    </tbody></table>
    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;Margin-right: 0">
      <tbody><tr style="vertical-align: top"><td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
        <a href="https://www.youtube.com/user/NerolacPaints" title="YouTube" target="_blank">
          <img src="http://static.wixstatic.com/media/011899_94d303771b3c42a8aab31dcec50fa258~mv2.png" alt="YouTube" title="YouTube" width="32" style="filter: drop-shadow(0px 4px 5px rgba(0,0,0,.35));outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
        </a>
      <div style="line-height:5px;font-size:1px">&#160;</div>
      </td></tr>
    </tbody></table>
  </div>
</div>

              <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
              </div>
            </div>
        </div>
      </div>
    </div>   
        </td>
  </tr>
  </tbody>
  </table>

</body></html>
