<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Nerolac VR dashboard</title>
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/enso.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="css/the-big-picture.css" rel="stylesheet">
<!--	<link href="css/compiled.min.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<link href="css/simplePagination.css" rel="stylesheet">
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src='js/knockout-3.4.2.js'></script>
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src ='js/jquery.simplePagination.js'></script>


<script>
$(document).ready(function(){
$("#btn").click(function(){
var vendorid = $("#vendorid").val();
var newpassword = $("#newpassword").val();
var confpassword = $("#confpassword").val();
console.log(vendorid);
console.log(newpassword);
console.log(confpassword); 
if(vendorid =='' && newpassword =='' && confpassword == ''){alert("Please fill out the form");return;}
else if(vendorid ==''){alert('Vendor Id field is required'); return;}
else if(newpassword ==''){alert('New password field is required'); return;}
else if(confpassword == ''){alert('Confirm passoword field is required'); return;}
else if(newpassword != confpassword){alert('New password and Confirm password should be same'); return;}
else{
        var postdata = {ve_email:vendorid , ve_newpassword: newpassword ,ve_confpassword:confpassword};
        $.post("https://nerolackansai.co.in/api/resetpass",postdata,function(respdata,status){
        console.log(respdata);
        alert(respdata.msg);
        console.log(status);
        alert(status);

    });
}
});
});
</script>
</head>

<body style="font-family: 'Source Sans Pro', sans-serif;">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container"> <img class= "navbar-brand" src="images/nerolaclogo.png" width="250px" alt="loading">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    </div>
  </div>
</nav>
<!-- Page Content -->


<section>
  <div class="row justify-content-center">
    <div style="margin-top: 20px;" class="col-md-4">
      <form style="margin:auto;padding:10px;box-shadow: 0px 0px 12px #888888;border-radius: 0px;color: black;">
        <div  style="text-align:center">
          <span style="color:#888888" data-bind="text:message"></span>
        </div>
        <form id="reset_form" method="post">
        <div id="namediv"><label>Vendor Id</label><br>
        <input type="text" name="ve_email" id="vendorid" placeholder="Vendor Id"/><br><br></div>
        <div id="emaildiv"><label>New Password</label><br>
        <input type="text" name="ve_newpassowrd" id="newpassword" placeholder="New Password"/><br><br></div>
        <div id="emaildiv"><label>Confirm Password</label><br>
        <input type="text" name="ve_confpassowrd" id="confpassword" placeholder="Confirm Password"/><br><br></div>
        <button id="btn" type="reset" class="btn btn-default">Send Data</button>
</form>

</div>
      </form>
    </div>
  </div>
</section>


<!-- Bootstrap core JavaScript --> 

</body>
</html>
