.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.badge, .btn, .btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover, .card, .jumbotron, .md-form input[type=date].input-alternate, .md-form input[type=datetime-local].input-alternate, .md-form input[type=email].input-alternate, .md-form input[type=number].input-alternate, .md-form input[type=password].input-alternate, .md-form input[type=search-md].input-alternate, .md-form input[type=search].input-alternate, .md-form input[type=tel].input-alternate, .md-form input[type=text].input-alternate, .md-form input[type=time].input-alternate, .md-form input[type=url].input-alternate, .md-form textarea.md-textarea.input-alternate, .media .media-left img, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .page-item.active .page-link, .z-depth-1 {
    box-shadow:none;
}
.navbar {

    padding: 0px;
}
nav .navbar-nav li a{

  color: black ;
  font-size: 15px;
  font-weight: 600;
  }
  nav .navbar-nav li a:hover{
    	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
 
  color: white ;
  font-size: 15px;
  font-weight: 800;
  }

.button1 {
  padding-left:5px;
  padding-right: 5px;
	color: black;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid white;
}
.button1 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button1:hover {
  background: linear-gradient(215deg,#3ed9bf, #205cd7);
background-size: 400% 400%;

-webkit-animation: AnimationName 12s ease infinite;
-moz-animation: AnimationName 12s ease infinite;
animation: AnimationName 12s ease infinite;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
  color: white !important;	
@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
}
@media (min-width: 760px) {
    .my-right-float {
        float: right;
    }
}
.panel-collapse.collapse{
  margin-left: 20px;
  margin-right: 25px;
  padding: 20px;
  border-radius: 20px;
  background-color: 	#F3F3F3;
}
.panel-title{
    border-radius: 20px;
}
table.mytable { 
    border-collapse: separate; 
    border-spacing: 0 0px; 
    margin-top: 8px;
    margin-left: 18px;
    padding-right: 38px;
}
th.mytable {
    border-style:none;
    background-color: #DBDBDB;
}
.blue { 
  background-color: #4e95e8; 
  }
th.mytable:first-child {
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px;
}
th.mytable:last-child {
    border-bottom-right-radius: 25px; 
    border-top-right-radius: 25px; 
}
th.mytable:nth-child(1) {
    
}
th.mytable:nth-child(2) {
    padding-left: 35px;
}
th.mytable:nth-child(3) {
    padding-left: 125px;
}
th.mytable:nth-child(4) {
    padding-left: 125px;
}
th.mytable:nth-child(5) {
    padding-left: 85px;
}
td.span1:nth-child(1):before {
    content:"Model Number:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 4px;
    display: inline-block;
}
td.span1:nth-child(2):before {
    content:"IMEI Number:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 37px;
    display: inline-block;
}
td.span1:nth-child(3):before {
    content:"Android Version:";
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}
td.span2:nth-child(1):before {
    content:"Battery Percent:";
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}
td.span2:nth-child(2):before {
    content:"Application Version:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 0px;
    display: inline-block;
}
td.span2:nth-child(3):before {
    content:"Last Session:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 29px;
    display: inline-block;
}
td.span3:nth-child(1):before {
    content:"City:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 70px;
    display: inline-block;
}
td.span3:nth-child(2):before {
    content:"Bug Type:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 62px;
    display: inline-block;
}
td.span3:nth-child(3):before {
    content:"Bug Time:";
    font-weight: bold;
    margin-right: 5px;
    margin-left: 45px;
    display: inline-block;
}
.panel-heading.active {
  background:linear-gradient(-45deg, #45cafc, #303f9f, #23a6d5, #23d5ab) !important;
}
