@charset "utf-8";
/* CSS Document */




#customBtn {
  display: inline-block;
  background:linear-gradient(180deg, #e5e5e5, #ffffff  );
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  white-space:nowrap;
  
}
#customBtn:hover {
  cursor: pointer;
  color: #2d76ed;
  background:linear-gradient(0deg, #e5e5e5, #ffffff  );
  
}
span.label {
  font-family: serif;
  font-weight: normal;
	
}
span.icon {
  background: url('../images/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.icon1 {
  background: url('../images/firebase.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
	text-align: center;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

/* .table-wrapper {
    display: block;
    max-height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
} */

.tabletopgradientcard {
	background:linear-gradient(-45deg, #45cafc, #303f9f, #23a6d5, #23d5ab);
	background-size:200% 200%;
	-webkit-animation: ensoanimbg 15s ease infinite;
	-moz-animation: ensoanimbg 15s ease infinite;
	animation: ensoanimbg 15s ease infinite;
	border-radius:.40rem;
	box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	
}

.tabletopcard {
	display:block;
	padding:.5rem 1.5rem;
	margin-bottom:0;
	font-size:.875rem;
	color:#fff;
	white-space:nowrap;
	border-radius:.35rem;
	box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
	
}

.tabletopdropdowncard {
	display:block;
	height: 40px;
	width: 270px;
	margin: auto;
	padding:.5rem 1.5rem;
	margin-bottom:0;
	font-size:.875rem;
	color:#6c757d;
	white-space:nowrap;
	border-radius:.35rem;
	/*box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);*/
	
}


@-webkit-keyframes ensoanimbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ensoanimbg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ensoanimbg { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.color-dot {
  height:30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.customBtn {
  display: inline-block;
  background:linear-gradient(180deg, #e5e5e5, #ffffff  );
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  white-space:nowrap;
  
}
.customBtn:hover {
  cursor: pointer;
  color: #2d76ed;
  background:linear-gradient(0deg, #e5e5e5, #ffffff  );
  
}

.form-padding{
	padding: 7px;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
