/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.btn .btn-info { 
    background-color: none !important;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7)!important;
    color: #fff!important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    height: 740px !important;
}

#sidebar {
    margin-top: 24px;
    min-width: 450px;
    max-width: 450px;
    /* background: #7386D5; */
    height: 100%;
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar.active {

    min-width: 210px;
    max-width: 210px;
    /* text-align: right; */
  
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header {
    margin-left: 20px;
    margin-top: 14px;
    margin-right: 14px;
    margin-bottom: 15px;
    display: block;
}

#sidebar.active .sidebar-header strong {
    padding-left: 20px !important;
    padding: 8px;
    font-size: 0.9em !important;
    display: block;
    border-radius: 20px;
    margin-bottom: 15px;
    /* text-align: right; */
}

#sidebar.active .sidebar-header strong.article:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article1:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article2:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article3:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article4:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article5:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article6:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article7:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}
#sidebar.active .sidebar-header strong.article8:hover{
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}

#sidebar.active .sidebar-header strong.article{
    background: #17b4d5;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article1{
    background: #19c1d7;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article2{
    background: #3b88e2;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article3{
    background: #1067ce;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article4{
    background: #0d5ab6;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article5{
    background: #4e95e8;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article6{
    background: #3b88e2;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article7{
    background: #337ace;
    color: #fff !important;
    }
    
#sidebar.active .sidebar-header strong.article8{
    background: #0f5ebc;
    color: #fff !important;
    }

#sidebar ul li a{
    text-align: left;
}

/* #sidebar ul li a{
    text-align: right;
} */

#sidebar.active ul li a {
    padding: 10px 10px;
    text-align: left;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

/* #sidebar .sidebar-header {
    color:#fff;
    padding: 8px;
    border-radius:15px;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
} */

#sidebar .sidebar-header{

    display: none;
}

#sidebar ul.components {
    padding: 20px 0;
    border-radius:15px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.3em;
    display: block;
}

#sidebar strong span {
    font-weight: 700;
}

#sidebar ul li a:hover {
    color: white;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: linear-gradient(320deg, #19a3cc,#205cd7,#20d5d7);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 14px;
    padding-left: 12px
}

ul.CTAs a{
    
    font-size: 0.9em !important;
    display: block;
    border-radius: 20px;
    margin-bottom: 8px;
    margin-left: 8px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #17b4d5;
    color: #fff !important;
}

a.article1,
a.article1:hover {
    background: #19c1d7;
    color: #fff !important;
}

a.article2,
a.article2:hover {
    background: #3b88e2;
    color: #fff !important;
}

a.article3,
a.article3:hover {
    background: #1067ce;
    color: #fff !important;
}

a.article4,
a.article4:hover {
    background: #0d5ab6;
    color: #fff !important;
}

a.article5,
a.article5:hover {
    background: #4e95e8;
    color: #fff !important;
}

a.article6,
a.article6:hover {
    background: #3b88e2;
    color: #fff !important;
}

a.article7,
a.article7:hover {
    background: #337ace;
    color: #fff !important;
}

a.article8,
a.article8:hover {
    background: #0f5ebc;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
    width: 100%;
    padding-left: 5px;
    min-height: 80vh;
    transition: all 0.3s;
    overflow: auto;
    height:740px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar .sidebar-header{
        padding: 8px;
    }
    
    #sidebar .sidebar-header strong{
        font-size: 0.9em !important;
        display: block;
        border-radius: 20px;
        margin: 18px;
    }

    #sidebar ul li a {
        padding: 20px 10px;

    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;

    }
}