/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "MikadoBold";
src:url("./MikadoBold.eot"); /* IE9 Compat Modes */
src:url("./MikadoBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./MikadoBold.otf") format("opentype"), /* Open Type Font */
    url("./MikadoBold.svg") format("svg"), /* Legacy iOS */
    url("./MikadoBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./MikadoBold.woff") format("woff"), /* Modern Browsers */
    url("./MikadoBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}