.ensofont
{
	font-family: 'Montserrat', sans-serif;
	color: #126acf;
}

.whitefont{
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 2px 5px #000;
	color:white;
}

.centeronImage
{
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
}

.leftPanel
{
	width: 80px;
	vertical-align: middle;
	transition-duration: 0.5s;
}
.leftPanel:hover{
	width: 100px;
}

.roomButton
{
	opacity: 1;
	transition-duration: 0.5s;
}
.roomButton:hover {
	transform: translateY(-10%);
}

.popup{
	position: absolute;
	left:50%;
	top: 40%;
	transform: translate(-50%,-50%);
	background-color: white;
	padding: 20px;
	border-radius: 10px;
    box-shadow: 0px 0px 10px 4px #126acf;
}

.minimized
{
	transform:rotate(0deg) translateX(-50%) ;
	/* animation: animini 1s; */
}

.maximized
{
	transform:rotate(180deg) translateX(50%) ;
	/* animation: animax 1s; */
}

@keyframes animini
{
	0%{
		transform:rotate(180deg) translateX(50%) translateY(0px);
	}
	50%{
		transform:rotate(0deg) translateX(-50%) translateY(0px);
	}
	100%{
		transform:rotate(0deg) translateX(-50%) translateY(30vh) ;
	}
}

@keyframes animax
{
	0%{
		transform:rotate(0deg) translateX(-50%) translateY(30vh) ;
	}
	50%{
		transform:rotate(0deg) translateX(-50%) translateY(0px) ;
	}
	100%{
		transform:rotate(180deg) translateX(50%) translateY(0px);
	}
}



.loader {
	position: relative;
	top: 50%;
	left: 50%;

	transform: translate(-50%,-50%);
	width: 120px;
	height: 4px;
	border-radius: 4px;
	background-color: #f0f0f0;
	overflow: hidden;
  }
  .loader::before,
  .loader::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 4px;
	border-radius: 4px;
	z-index: 2;
  }
  .loader::before {
	background: linear-gradient(90deg,#08AEEA,#2AF598);
	animation: animation 1.2s linear infinite;
  }
  .loader::after {
	background: linear-gradient(90deg,#B721FF,#08AEEA);
	animation: animation 1.2s .5s linear infinite;
  }
  @keyframes animation {
	0% {
	  width: 0;
	}
	25% {
	  width: 30%;
	  left: 15%;
	}
	50% {
	  width: 70%;
	  left: 40%;
	}
	100% {
	  width: 15%;
	  left: 100%;
	}
  }

.loaderholder {
position: relative;
width: 100%;
height: 100vh;
z-index: 9999;
background: #ffffff;
}
