@media only screen and (max-width:1279px) {
    .date-countdown {
        width: 100%
    }
    .left-section .jyppzer {
        margin-left: 0%;
    }

}

@media only screen and (max-width:992px) {
    .main-area {
        position: relative;
        height: 200vh
    }

    .left-section .logo {
        left: 40%;
    }
    
    ul {
        margin-top: 10%;
        margin-left: 63%;
        padding: 0;
      }

      li a {
        letter-spacing: 0.06em;
        padding: 8px 12px;
        font-size: 30px;
      }
      
    .left-section .jyppzer img {
        /* height: 100%; */
        width: 100%;
        margin-left: 3%;
        padding-left: 0%;
        
    }
    .right-section {
        float: none;
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .right-section .main-content {
        position: relative;
        padding: 30px 20px;
    }
    .main-content .email-input-area {
        width: 100%
    }
    .main-content .email-input-area .email-input {
        padding: 0 115px 0 20px
    }
    .main-content .email-input-area .submit-btn {
        width: 100px
    }
    .right-section .footer-icons>li>a>i {
        height: 30px;
        line-height: 28px;
        width: 30px
    }
    .left-section {
        position: static;
        width: 100%;
        height: 50%
    }
    .date-countdown {
        width: 100%
    }
    .date-countdown .time_circles>div>h4 {
        font-size: .7em !important
    }
}

@media only screen and (max-width:767px) {
    p {
        line-height: 1.4
    }
    h1 {
        font-size: 2.8em;
        line-height: 1
    }
    h2 {
        font-size: 2.2em;
        line-height: 1.1
    }
    h3 {
        font-size: 1.8em
    }

    .display-table-cell {
        /* display: block; */
        vertical-align: middle;
    }

    .left-section .jyppzer {
        width: 100%;
        margin-left: 0%;
    }

    .left-section .logo {
        left: 30%;
    }
}

@media only screen and (max-width:479px) {
    body {
        font-size: 12px
    }
    #normal-countdown .time-sec {
        height: 100px;
        width: 100px;
        margin: 5%
    }
    #normal-countdown .time-sec .main-time {
        line-height: 80px
    }
    .right-section {
       
    }
}

@media only screen and (max-width:359px) {}

@media only screen and (max-width:290px) {}