html {
    font-size: 100%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: open sans, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
inpot,
button {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: inherit
}

h1,
h2,
h3 {
    font-family: poppins, sans-serif
}

p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 700;
}

h1 {
    font-size: 3.5em;
    line-height: 1
}

h2 {
    font-size: 3em;
    line-height: 1.1
}

h3 {
    font-size: 2.5em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.2em
}

h6 {
    font-size: .9em;
    letter-spacing: 1px
}

a,
button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    line-height: 1
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
    text-decoration: none;
    color: #e45f74
}

b {
    font-weight: 500
}

img {
    width: 100%
}

li {
    list-style: none;
    display: inline-block
}

span {
    display: inline-block
}

button {
    outline: 0;
    border: 0;
    background: 0 0;
    cursor: pointer
}

b.light-color {
    color: #444
}

.icon {
    font-size: 1.1em;
    display: inline-block;
    line-height: inherit
}

[class^=icon-]:before,
[class*=" icon-"]:before {
    line-height: inherit
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.center-text {
    text-align: center
}


ul {
    position: absolute;
    font-family: poppins, sans-serif;
    list-style-type: none;
    margin-top: 6%;
    margin-left: 30%;
    padding: 0;
    overflow: hidden;
  }
  
  .w3-right{float:right!important}

  li a {
    letter-spacing: 0.12em;
    font-size: 25px;
    font-weight: 900;
    background: #F5183D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 14px 16px;
  }


.display-table {
    position: relative;
    display: table;
    height: 100%;
    width: 100%
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle
}

::-webkit-input-placeholder { /* Edge */
    letter-spacing: 0.4em;
    font-weight: 700;
    font-size: 15px;
}
  
::-ms-input-placeholder { /* Internet Explorer */
    letter-spacing: 0.4em;
    font-weight: 700;
    font-size: 15px;
 }

::-moz-placeholder {
    letter-spacing: 0.4em;
    font-weight: 700;
    font-size: 15px;
}
  
::placeholder {
    letter-spacing: 0.4em;
    font-weight: 700;
    font-size: 15px;
}

.full-height {
    height: 100%
}

.position-static {
    position: static
}

.main-area {
    position: relative;
    height: 100vh
}

.left-section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    width: 50%;
    background-size: cover;
    
}

#normal-countdown {
    text-align: center
}

#normal-countdown .time-sec {
    position: relative;
    display: inline-block;
    margin: 2.5%;
    height: 120px;
    width: 120px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .4);
    color: #f84982
}

#normal-countdown .time-sec .main-time {
    font-weight: 500;
    line-height: 100px
}

#normal-countdown .time-sec span {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%)
}

.right-section {
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
    padding: 0 60px 0 0
}

.left-section .logo {
    position: absolute;
    top: 40px;
    height: 60px;
    left: 160px;
}

.left-section .logo img {
    height: 100%;
    width: auto
}

.left-section .jyppzer {
    position: absolute;
    margin-top: 100px;
    margin-left: 10%;
    z-index: 1000;  
}

.left-section .jyppzer img {
    /* height: 100%; */
    width: 84%;
   
    
}


.right-section .main-content {
    padding: 40px 40px 40px 0px
}

.main-content .title {
    letter-spacing: 0.12em;
    font-size: 70px;
    background: linear-gradient(to right,#F5183D,#FC851F 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.main-content .title2 {
    letter-spacing: 0.5em;
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 30px;

}



.main-content .email-input-area {
    margin: 40px 0 20px;
    position: relative;
    width: 500px;
    height: 47px
}

.main-content .email-input-area .email-input {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 0 140px 0 25px;
    transition: all .2s;
    /* background: #f1f2f3; */
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .1);
    border: 2px solid;
    border-color:#F5183D;
}

.main-content .email-input-area .email-input:focus {
    border-color: #F5183D
}

.main-content .email-input-area .submit-btn {
    width: 120px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: .9em;
    outline: 0;
    border-radius: 0 2px 2px 0;
    transition: all .3s;
    background: #F5183D;
    color: #fff;
}

.main-content .email-input-area .submit-btn:hover {
    background: #F5183D
}

.main-content .post-desc {
    color: #999
}

.right-section .footer-icons {
    position: absolute;
    bottom: 30px
}

.right-section .footer-icons>li>a {
    display: inline-block;
    font-size: 1.07em;
    padding: 0 0
}

.right-section .footer-icons>li:first-child {
    margin-right: 10px
}

.right-section .footer-icons>li>a>i {
    display: inline-block;
    height: 35px;
    line-height: 33px;
    transition: all .2s;
    border-radius: 40px;
    text-align: center;
    width: 35px
}

.right-section .footer-icons>li>a:hover>i {
    border: 1px solid
}

.right-section .footer-icons>li>a>i[class*=facebook] {
    color: #2a61d6;
    border-color: #2a61d6
}

.right-section .footer-icons>li>a>i[class*=twitter] {
    color: #3aa4f8;
    border-color: #3aa4f8
}

.right-section .footer-icons>li>a>i[class*=google] {
    color: #f43846;
    border-color: #f43846
}

.right-section .footer-icons>li>a>i[class*=instagram] {
    color: #8f614a;
    border-color: #8f614a
}

.right-section .footer-icons>li>a>i[class*=pinterest] {
    color: #e1c013;
    border-color: #e1c013
}